<%- include ../layouts/_site_header.ejs %>
<%- include ../layouts/_site_navigation.ejs %>
    <script>window.slug = "<%= page.slug %>";</script>
    <!-- Made into a div and new class for temporary fix -->

    <% if (page.slug == 'hockey') { %>
      <div class="page-video-wrapper">
        <div class="video-center">
          <iframe class="tunnel-walk" width="853" height="480" src="https://www.youtube.com/embed/JNuQxxJSGZs?list=PL7tfLy4QIaez1AtYAPyv_BO5TFR1BbRT-" data-video="https://www.youtube.com/embed/JNuQxxJSGZs?list=PL7tfLy4QIaez1AtYAPyv_BO5TFR1BbRT-" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    <% } else if (page.slug == 'basketball') { %>
      <div class="page-video-wrapper">
        <div class="video-center">
          <iframe class="tunnel-walk" width="853" height="480" src="https://www.youtube.com/embed/8RiSg3ZzSsw?list=PL7tfLy4QIaez1AtYAPyv_BO5TFR1BbRT-" data-video="https://www.youtube.com/embed/8RiSg3ZzSsw?list=PL7tfLy4QIaez1AtYAPyv_BO5TFR1BbRT-" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    <% }%>

    <div class="page_container" id="main" role="main">
        <div class="hero">
            <div class="page_content">
              <div class="page_title">
                <h3><img class="icon--mav-mayhem" src="/img/icon--maverick-mayhem.svg" alt="#maverickmayhem"><span id="sport_icon"></span></h3>
              </div>
              <% if (page.next_matchup) { %>
              <div class="content_box next">
                  <p class="content_title">NEXT MATCHUP: <%=  page.next_matchup.date %></p>
                  <p class="game_title">vs <%=  page.next_matchup.opponent %> @ <%=  page.next_matchup.location %></p>
                  <div class="ticket_button">
                    <a href="<%=  page.next_matchup.ticket %>">Get Tickets</a>
                    <svg id="button_bkgrd" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" preserveAspectRatio="none"
                         viewBox="0 0 225.4 31.3" enable-background="new 0 0 225.4 31.3" xml:space="preserve">
                          <path d="M224.4,7.9c-0.2-0.1-0.3-0.3-0.5-0.4c-0.1-0.1-0.3-0.3-0.4-0.4c-0.4-0.4-0.8-0.3-1,0.3
                            c-0.2-0.1-0.6-0.1-0.6-0.6c0-0.3-0.3-0.4-0.6-0.2c-0.3,0.2-0.5,0.4-0.8,0.6c-0.3-0.2-0.6-0.4-0.9-0.6c0,0-0.2,0.1-0.3,0.1l0,0
                            c-0.2-0.1-0.5-0.2-0.7-0.4c0-0.8,0.5-1.5,0.3-2.3c-0.2,0.2-0.4,0.3-0.4,0.4c0,0.3-0.3,0.5-0.5,0.6c-0.2,0.1-0.3,0.3-0.5,0.4
                            c-0.3,0.1-0.6,0.3-0.9,0.3c-1.5,0-3.1,0-4.6,0c-0.8,0-1.6,0.1-2.4,0.1c-0.5,0-1.1,0.1-1.5-0.1c-0.8-0.3-1.5-0.1-2.2-0.1
                            c-0.3,0-0.7,0-1-0.1c-0.7-0.1-1.3-0.3-2-0.4c-0.2,0-0.4,0.1-0.6,0.2l0,0c-0.3,0-0.7,0-1.1,0c-0.2,0.2-0.4,0.4-0.7,0.2
                            c-0.1,0-0.2-0.1-0.3,0c-0.4,0.2-0.7,0-1-0.3c-0.1-0.1-0.4-0.2-0.5-0.1c-0.6,0.6-1.2,0.4-1.9,0.3c-0.9-0.1-1.9-0.2-2.8-0.2
                            c-0.5,0-1,0-1.4-0.3c-0.5,0.4-1.1,0.5-1.4,0c-0.6-0.1-1.1-0.1-1.6-0.1c-0.6,0-1.2-0.1-1.7-0.1c-0.2,0-0.5,0.1-0.7,0.2
                            c-0.2,0-0.3,0.1-0.5,0.1c-0.7-0.1-1.4-0.2-2.2-0.4c-0.6-0.1-1.2-0.3-1.8-0.3c-0.6,0.1-1.1-0.3-1.7,0c0,0-0.1,0-0.1,0
                            c-0.5-0.3-1-0.3-1.6-0.4c-0.4,0-0.9-0.1-1.3-0.4c-0.1,0-0.2,0-0.3,0c0,0.3,0,0.5,0.1,0.7c-0.6,0-0.5-0.4-0.5-0.7
                            c-0.2,0-0.5-0.1-0.6-0.1c-0.1,0-0.2,0.3-0.3,0.5c-0.5-0.4-1.1-0.5-1.7-0.5c-0.5,0-1-0.1-1.5-0.1c-0.2,0-0.4-0.1-0.6-0.1
                            c-0.7,0.2-1.3,0-1.9-0.1c-0.1,0-0.4-0.1-0.4,0c-0.5,0.5-0.9,0.1-1.3-0.1c-0.3-0.1-0.6-0.2-0.9,0c-0.3,0.2-0.6,0.1-0.9-0.1
                            c-0.2-0.1-0.5-0.3-0.7-0.3c-0.6,0-1.3,0-1.9,0c-0.5,0.5-0.5,0.5-1.1,0.2c-0.4-0.3-0.8-0.4-1.2,0c0,0-0.1,0-0.1,0
                            c-0.5-0.2-1-0.3-1.4-0.5c-0.6-0.2-1.1-0.1-1.6,0.1c-0.8,0.4-1.1,0.4-1.7-0.2c-0.3-0.3-0.5-0.4-0.9-0.1c-0.5,0.3-1,0.5-1.5,0
                            c-0.1-0.1-0.2-0.1-0.4-0.1c-1.1-0.1-2.1-0.3-3.2-0.4c-0.3,0-0.7,0.1-1.1,0.1c-0.1,0-0.4-0.2-0.6-0.2c-0.3,0-0.5,0.3-0.6,0.4
                            c-0.2-0.1-0.5-0.1-0.7-0.2c-0.1-0.2-0.2-0.3-0.3-0.5c-0.4,0.3-0.8,0-1.1,0c-0.5,0.1-1,0.1-1.5,0c-0.5-0.1-1-0.3-1.3,0.4
                            c-0.3-0.2-0.5-0.4-0.8-0.6c-0.1,0.2-0.2,0.3-0.3,0.4c-0.7-0.2-1.3-0.4-2-0.5c-0.4-0.1-0.9-0.1-1.2,0c-0.5,0.3-1,0.2-1.6,0.3
                            c0.1-0.1,0.1-0.2,0.1-0.3c-0.4-0.2-0.7-0.3-0.9,0.2c0,0.1-0.2,0.1-0.4,0.2c-0.2-0.3-0.3-0.7-0.7-0.6c-0.4,0.1-0.7,0-1-0.1
                            c-0.2-0.1-0.4,0.1-0.6,0.1c-0.2,0-0.6,0.1-0.7,0c-0.5-0.4-1-0.3-1.6-0.3c-0.3,0-0.7,0.1-1,0c-0.4-0.1-0.5,0-0.7,0.3
                            c-0.4,0-0.8,0-1.2,0c-0.1-0.1-0.2-0.3-0.3-0.5c-0.1,0.2-0.1,0.3-0.2,0.5c-0.2-0.1-0.3-0.3-0.4-0.4c-0.2-0.1-0.4,0-0.5,0.2
                            c-0.2,0.1-0.4,0.1-0.6-0.1c-0.2-0.2-0.5-0.2-0.8-0.1c0,0,0,0,0,0c-0.3-0.1-0.6-0.1-0.9-0.2c-0.3,0-0.7,0-1.1,0c0,0,0,0,0,0
                            c-0.4,0.5-0.4,0.5-0.9,0c-0.2-0.2-0.6-0.2-0.7,0.2c-0.1,0.1-0.1,0.3-0.1,0.5c-0.4-0.1-0.7-0.3-1-0.4c-0.1,0-0.3,0-0.4,0l0,0
                            c-0.2-0.1-0.5-0.2-0.7-0.3c-0.2,0.2-0.3,0.3-0.4,0.4c-0.4,0-0.7-0.1-1-0.1c-0.3,0-0.5-0.1-0.8-0.2c-0.3,0-0.7-0.2-0.9-0.1
                            c-0.3,0.3-0.7,0.2-1,0.3c-0.3,0.1-0.5,0-0.8-0.2c-0.8-0.7-1.3-0.7-2,0c0,0-0.1,0-0.2,0c0-0.1,0-0.1,0-0.2l0,0
                            c-0.4-0.1-0.9-0.2-1.3-0.2c-0.6,0-1.3,0.1-1.9,0.1c-0.1,0-0.3-0.1-0.4-0.1c-0.2,0-0.4-0.2-0.6-0.1c-0.8,0.1-1.6-0.1-2.4,0.2
                            c-0.1,0-0.3,0-0.4,0c-1,0-1.9-0.4-2.9-0.1c-1.2-0.4-2.5,0.1-3.7,0c-1.2-0.1-2.5,0.1-3.7,0.1c-1.4,0-2.9,0-4.3,0
                            c-1.6,0-3.1-0.2-4.7,0.1c-0.1,0-0.3,0-0.5,0c-1.1-0.2-2.2,0.1-3.2,0c-0.8,0-1.7-0.3-2.6,0.1c0,0-0.1,0-0.1,0
                            c-0.6-0.2-1.1,0-1.6,0.1c-0.9,0.2-1.9,0.1-2.8,0.1c-1-0.1-2-0.1-3,0.1c-0.1,0-0.2,0-0.2,0c-1-0.4-2-0.1-3-0.1
                            c-1.1,0-2.1,0.2-3.2,0.3c-0.1,0-0.2,0-0.3,0c-0.5,0-1-0.1-1.6-0.1c-1.3,0-2.6,0-3.9,0.1c-1.3,0-2.7,0.1-4,0.2c-0.2,0-0.4,0-0.5,0
                            c-0.5-0.1-0.9,0-1.4,0c-1.5,0.1-3,0.1-4.5,0.2c-1.3,0.1-2.7,0.1-4-0.2c-0.1,0-0.1,0-0.2,0.1l0,0c-0.4,0-0.8,0-1.3-0.1
                            c-0.7-0.1-1.5-0.3-2.2-0.4c-0.4-0.1-0.7-0.2-1,0.2c-0.1,0.2-0.6,0.3-0.9-0.1c-0.1-0.2-0.4-0.2-0.6-0.4C41,1.1,41,1.3,41.1,1.5
                            c-0.5-0.1-0.9-0.2-1.5-0.3c-0.4-0.6-0.4-0.6-1.1-0.3c0.2,0.1,0.4,0.3,0.6,0.4c-0.5,0.2-0.7,0.2-1-0.2c-0.2-0.5-0.6-0.6-1.1-0.6
                            c-0.6,0-1.2,0-1.8,0c-0.6-0.1-1.2,0-1.7,0.3c-0.8-0.5-3.1-0.6-4.2-0.4c-0.1,0-0.3,0-0.4,0c-0.5-0.1-1-0.1-1.5-0.2
                            c-0.4,0-0.8-0.1-1.2,0.2c0,0-0.2-0.1-0.2-0.1l0,0c-0.2,0-0.4-0.1-0.7-0.1c-0.4,0-0.8,0.1-1.2,0C23.6,0,22.9,0.2,22.2,0
                            c-0.1,0.2-0.1,0.4-0.2,0.7c-0.4-1-1.1-0.8-1.8-0.7c-0.2,0-0.4,0.1-0.7,0.1c-0.7,0-1.5-0.1-2.2-0.1c-0.9,0-1.7,0.4-2.5,0.1
                            c-0.1,0-0.2,0-0.3,0.1c-0.4,0.3-0.9,0.6-1.3,0.8C13.1,1.1,12.9,1,12.8,1c-0.4,0.2-0.6,0.4-1,0.6c0.5,0.4,0.9,0.9,1.6,1
                            c0.7,0.1,1.4,0.1,2.1,0.1c0.3,0,0.6,0,0.8,0.2c0.2,0.2,0.6,0.2,0.9,0.2c0.6-0.1,1.3-0.2,1.9-0.3c0.1,0,0.2,0,0.3,0
                            c0.9,0.4,1.8,0.4,2.7,0.3c0.3,0,0.6,0,0.8,0.2c0.1,0.1,0.2,0.1,0.4,0.1c0.1-0.2,0.2-0.4,0.3-0.5c0.2,0.2,0.4,0.4,0.6,0.5
                            c0.5,0.1,1,0.2,1.5,0.2c0.9,0,1.8,0.4,2.7,0.3c0,0,0,0.1,0,0.1c-0.7,0.7-1.6,0.2-2.5,0.6c0.2,0.2,0.3,0.4,0.4,0.6
                            c0.3-0.2,0.7-0.3,1-0.1c0.3-0.2,0.5-0.4,0.7-0.4c0.2,0,0.5,0.2,0.9,0.4c-0.3,0.1-0.3,0.1-0.4,0.2l0,0c-0.3,0-0.7,0.1-1,0.2
                            c-0.3,0-0.5,0.1-0.8,0.2c0.4,0.7,1.2,0.7,1.7,1.3c0.1-0.1,0.1-0.2,0.1-0.3c0.4,0.1,0.7,0.2,1.1,0.2c0-0.2,0-0.3,0.1-0.3
                            c0.1-0.7,0.5-0.9,1-0.6C31.2,6,31.5,6,31.9,5.9c0.2,0,0.5-0.1,0.5,0.3c-0.6,0-1,0.3-1,1C31.7,7.2,32,7.1,32.3,7
                            c-0.4,0.5-0.6,0.9-1,1.3c-0.1,0.1-0.5,0.2-0.7,0.2c-1.1-0.2-2.1-0.3-3.2,0c-0.1,0-0.3,0-0.4,0.1c-0.7,0-1.4-0.1-2,0
                            c-1.1,0.1-2.2,0.4-3.3,0.3c-0.4,0-0.6,0.1-0.9,0.4l0,0c-0.3,0.2-0.5,0.2-0.8,0l0,0c-0.6,0-1.2-0.4-1.7,0.2c0,0-0.1,0-0.1,0
                            c-1.7,0.1-3.4,0.2-5.1,0.3c-2,0.2-4,0.7-5.9,1.2c-0.1,0-0.2,0.2-0.3,0.4c0.3,0.1,0.5,0.1,0.6,0.2c0.2,0.4,0.3,0.7,0.5,1
                            c1.2-0.5,1.7,0.3,2.2,1c0.4,0,0.6,0,0.9,0c0.1,0,0.2-0.2,0.3-0.2c0.5-0.1,1-0.2,1.7-0.4c-0.1,0.3-0.2,0.4-0.3,0.5
                            c-0.2,0.2-0.3,0.3-0.5,0.4c0.2,0.1,0.3,0.3,0.6,0.4c-0.1,0.3-0.2,0.5-0.4,0.9c0.5-0.2,0.9-0.4,1.2-0.5c0-0.4-0.2-0.5-0.5-0.5
                            c0-0.2,0.1-0.4,0.4-0.3c0.2,0.1,0.6,0.1,0.6-0.2c0-0.7,0.7-0.7,1.1-1.1c0.1-0.1,0.3-0.1,0.4-0.1c0.6,0,0.9,0.3,1.1,0.8
                            c0.4-0.1,0.8-0.1,1.2-0.2c0.5-0.1,0.5,0,0.5,0.5c0,0.1,0,0.1,0,0.2c0.4,0,0.7-0.1,0.8-0.5c-0.2-0.1-0.3-0.2-0.5-0.4
                            c0.2-0.2,0.4-0.3,0.6-0.5c0.1,0.4,0.2,0.7,0.3,1c0.2,0,0.5,0.1,0.7,0.1c0.3,0,0.4,0.2,0.4,0.4c0.7,0,1.4,0.1,2.1,0.1
                            c0.2,0,0.5,0,0.7-0.1c0.4-0.2,0.6-0.1,0.8,0.3c0.2,0.4,0.6,0.6,1,0.7c0.1,0,0.3,0.1,0.4,0.1c1.1,0.1,2.2,0.3,3.3,0.3
                            c0.6,0,1.1-0.1,1.6,0.1c0.3,0.1,0.6,0,0.8,0c0.3,0,0.6-0.1,0.9-0.1c1.3,0,2.5-0.1,3.8,0.2c0.1,0,0.2,0,0.3,0c0.9,0,1.7,0,2.6,0
                            c2.2,0.2,4.3,0.5,6.5,0.4c0.6,0,1.1,0.1,1.7,0.2c0.3,0,0.7,0.1,0.7,0.6c-0.2,0-0.3,0-0.3,0c-0.3-0.2-0.5-0.2-0.8-0.1
                            c-0.7,0.2-1.5-0.1-2.2,0.5c0,0-0.1,0-0.1,0c-0.7-0.3-1.4,0.2-2.2,0.1c-0.8-0.1-1.8,0.2-2.6,0.3c-0.4,0.1-0.7,0.1-1,0
                            c-0.4-0.1-0.8-0.1-1.3-0.1c-0.3,0-0.6,0.1-0.9,0.2c-1.1,0.1-2.2,0.2-3.3,0.2c-0.1,0-0.2,0-0.3,0.1c-0.8,0.4-1.6,0.7-2.5,0.7
                            c-1.3,0.1-2.5,0.4-3.8,0.4c-1.5,0.1-2.9,0.4-4.3,0.8c0,0.2,0,0.4-0.1,0.5c-0.1,0.2-0.2,0.3-0.3,0.5c0.4,0.3,0.7,0.4,1.1-0.1
                            c0.3,0.8,1.1,0.7,1.7,0.9c0.1,0,0.2,0,0.3,0c0.6-0.2,1.2,0.1,1.7-0.4c0.1-0.1,0.4,0,0.7,0.1c0.8,0.2,1.6,0.1,2.4,0.1
                            c0.4,0,0.8-0.2,1.2-0.1c0.8,0.2,1.6-0.1,2.4-0.1c0.2,0,0.4-0.1,0.5-0.3c0.2-0.4,0.5-0.4,0.8-0.2c0.2,0.1,0.3,0.2,0.4,0.3
                            c0.1-0.2,0.2-0.3,0.3-0.6c0.2,0.3,0.3,0.4,0.3,0.6c0.1,0.3,0.1,0.5-0.3,0.5c-0.3,0-0.7,0.1-1,0.1c-0.6,0-1.2,0-1.8,0
                            c-0.8,0-1.6,0.2-2.4,0.2c-1-0.1-2,0.2-3,0.4c-0.1,0-0.2,0.1-0.3,0.2c-0.3,0.5-0.8,0.5-1.3,0.5c-0.3,0-0.7,0-1,0
                            c-1.1,0.1-2.2,0.3-3.3,0.2c-1.2,0-2.4-0.2-3.6-0.4c-0.4,0-0.7-0.2-1.2,0c0,0.3,0.1,0.6,0.1,0.8c0,0.9,0.1,1.2,0.6,1.5
                            c0,0.1-0.1,0.1-0.1,0.2c0.4,0,0.7,0,0.9,0.1c0.7,0.1,0.7,0.1,1.1-0.6c0.4,0.5,0.9,0.7,1.4,0.6c0.6-0.1,1.3,0.3,1.9-0.1
                            c0.1,0,0.2,0,0.3,0.1c0.5,0,0.9,0.1,1.4,0.1c0.3,0,0.7-0.1,1.1,0c1.4,0.2,2.8,0.4,4.2,0.1c0.1,0,0.2,0,0.3,0
                            c0.8,0.1,1.6,0.3,2.4,0.3c1.9,0.1,3.8,0.1,5.7,0.1c0,0,0-0.1,0-0.1c-0.2-0.2-0.3-0.3-0.5-0.5c0.7-0.3,1.3-0.6,1.9-1
                            c0-0.1,0.1-0.3,0.1-0.5c0.3,0.1,0.6,0.3,0.8,0.3c0.3,0,0.6,0,0.8,0.3c0.1,0.3,0.3,0.5,0.4,0.8c0.1,0.3-0.2,0.3-0.3,0.2l0,0
                            c-0.2,0.1-0.3,0-0.2-0.2l0,0c-0.3-0.3-0.6-0.5-0.9-0.9c-0.4,0.3-0.7,0.5-1.1,0.8c-0.1,0-0.2-0.1-0.3-0.1c-0.3,0.6-0.3,0.7,0.2,0.8
                            c0.6,0.1,1.2,0.1,1.8,0.2c1,0,2.1,0,3.1,0.1c0.3,0,0.5,0.1,0.8-0.3c-0.4-0.2-0.6-0.3-0.9-0.4c-0.4-0.2-0.4-0.3-0.2-0.7
                            c0.1-0.2,0.3-0.5,0.4-0.7c0.3-0.6,0.6-0.7,1.2-0.3c-0.4,0-0.6,0.2-0.6,0.5c0.2,0.3,0.4,0.5,0.5,0.8c0.1,0.3,0.3,0.4,0.6,0.4
                            c0.3,0,0.5,0.1,0.6,0.4c0.2-0.1,0.4-0.2,0.7-0.4c0.3,0.8,0.9,0.7,1.6,0.6c0.1,0,0.2-0.1,0.3-0.1c0.9,0,1.7,0,2.6,0.1
                            c0.2,0,0.5,0,0.7,0c0.8,0,1.6,0.4,2.3-0.2c0.1-0.1,0.3,0,0.5,0.1c0.2,0.1,0.4,0.1,0.6,0.2c0.1-0.2,0.1-0.3,0.1-0.4
                            c0-0.1,0.1-0.2,0.2-0.3c0.5,0.6,0.4,0.7,1.1,0.7c0.8,0.1,1.7,0.1,2.5,0.1c0.4,0,0.8,0,1.1,0c0.1-0.6,0.1-0.6,0.7-0.6
                            c0.1,0.2,0.2,0.5,0.4,0.6c0.3,0.2,0.5-0.1,0.7-0.3c0-0.1,0.1-0.1,0.1-0.2l0,0c0.2,0.1,0.4,0.3,0.6,0.4c0.6,0.2,1.2,0.3,1.9,0.2
                            c0.4-0.1,0.9-0.1,1.4,0c0.9,0.1,1.7,0.1,2.4-0.4c0.3-0.2,0.6-0.2,0.8,0l0,0c0.1,0,0.4,0,0.4,0.1c0.3,0.3,0.7,0.4,1.1,0.3
                            c0.8-0.1,1.5-0.1,2.3-0.1c0.8,0,0.8,0,1.2-0.6c0.1,0.2,0.2,0.3,0.3,0.5c0.3-0.1,0.5-0.3,0.7-0.4c0.4,0.2,0.7,0.4,1,0.5
                            c0.3,0.1,0.7,0,1,0c0.7,0,1.4-0.1,2.1-0.1c0-0.1,0-0.2,0-0.4c0.3,0.2,0.6,0.4,0.9,0.5c0.6-0.3,1.1-0.5,1.7-0.8
                            c0.1,0,0.3-0.1,0.4,0c0.4,0.4,0.9,0.3,1.3,0.4c0.2,0,0.3,0.2,0.5,0.3c0.4-0.3,0.9-0.6,1.5-0.4v0c0.4,0.1,0.7,0.2,1.1,0.3
                            c0.2,0.1,0.4,0.1,0.4-0.1c0-0.1-0.2-0.2-0.2-0.4c0,0,0,0,0,0c0.3-0.2,0.5-0.3,0.7-0.4c0.2-0.1,0.4-0.2,0.7-0.3
                            c0.5-0.1,0.8,0.2,1.1,0.7c0.1-0.3,0.2-0.5,0.2-0.7c0.3,0.1,0.5,0.1,0.8,0.2c0,0.2,0,0.3,0,0.5l0,0c0.1,0.2,0.2,0.3,0.3,0.5l0,0
                            c0.4,0,0.8-0.1,1-0.6c0.2,0.2,0.3,0.4,0.4,0.5c0.3-0.3,0.5-0.3,0.9-0.1c0.2,0.1,0.6,0,0.9,0.1l0,0c1,0.2,1.7-0.3,2.5-1
                            c0,0.4,0,0.6,0.1,0.9c0,0.1,0.2,0.3,0.3,0.4c0.1,0,0.3,0,0.5-0.1c0.1-0.1,0.2-0.3,0.3-0.4c0.8,0.1,1.1,0.1,1.7-0.3
                            c0.4-0.2,0.7-0.2,1.1-0.2c0,0.2,0,0.5,0,0.7c1.8,0,3.6,0,5.4,0c-0.1-0.1-0.1-0.2-0.2-0.3c0.2,0,0.5,0,0.7,0c0,0,0,0,0,0
                            c0.6,0.1,1.3,0.6,1.9-0.1c0.4,0.4,0.8,0.5,1.3,0.2c-0.1-0.2-0.1-0.3-0.2-0.4c0.7-0.1,1.5-0.3,1.9,0.6c0.5-0.3,1-0.3,1.6,0
                            c0.3,0.1,0.7,0,1.1,0c0.3,0,0.6-0.2,1-0.2c0.5,0,0.9-0.2,1.1-0.5c0.5,0,0.8,0.6,1.4,0.3c0,0,0.2,0,0.2,0.1
                            c0.2,0.3,0.4,0.2,0.7,0.2c0.5-0.1,1-0.3,1.4,0c0.6,0.3,1.2,0.2,1.8-0.2c0.7,0.6,1.3,0.3,1.7-0.2c0.4,0.2,0.7,0.5,0.9,0.4
                            c1-0.1,2.1,0.3,3.1-0.2c0.1-0.1,0.3,0,0.4,0c0.5,0,1,0,1.5-0.1c0.4-0.1,0.9-0.3,1-0.8c0.2,0.2,0.5,0.5,0.7,0.7c0.3,0,0.5,0,0.8,0
                            c0.1,0.3,0.4,0.3,0.5,0.3c0.3-0.1,0.5-0.3,0.8-0.6c0.4,0.3,0.9,0.1,1.3-0.3c0.2,0.1,0.4,0.3,0.6,0.4l0,0c0.3,0.2,0.5,0.3,0.9,0.2
                            c0.3,0,0.6,0,0.9,0.1l0,0c0.1,0,0.1,0,0.2,0l0,0c0.5,0,1,0.1,1.4,0.1c0.3,0,0.5-0.3,0.8-0.2c0.7,0.1,1.4,0.1,2.1-0.4
                            c0.2,0.2,0.3,0.4,0.4,0.6c0.2-0.1,0.5-0.1,0.7-0.2c0.2-0.1,0.3-0.4,0.5-0.6c0.3,0.2,0.5,0.5,0.9,0.2c0.1-0.1,0.1-0.3,0.2-0.3
                            c0.2,0,0.4,0.1,0.5,0.2c0.3,0.5,0.7,0.4,1.1,0.3c0.6-0.1,1.2-0.2,1.8-0.2c0.1,0,0.3,0.1,0.4,0.2c0.4,0.3,0.7,0.3,1.2,0.1
                            c0.5-0.2,1.1-0.2,1.6,0c0.1,0,0.1,0,0.2,0c0.1-0.1,0.2-0.2,0.2-0.4c0.3,0.1,0.5,0.2,0.6,0.3c0.4-0.1,0.8-0.3,1-0.1
                            c0.5,0.4,0.9,0.1,1.4-0.1c0,0,0.1,0,0.2,0c0.1,0.1,0.2,0.3,0.3,0.5c0.6-0.5,0.6-0.5,1.2,0.1c0.6,0.1,1.1-0.5,1.7-0.2
                            c0,0,0.1-0.1,0.2-0.1c0.5-0.2,0.9-0.3,1.4,0c0.7,0.4,1.4,0.3,2-0.1c0.3-0.2,0.6-0.2,0.9,0c0.2,0.1,0.4,0.3,0.6,0.4
                            c0.4,0.3,0.5,0.3,0.9,0.1c0.2-0.1,0.3-0.2,0.6-0.3c0-0.2,0.1-0.5,0.2-0.8c0.2,0.1,0.5,0.3,0.6,0.3c0.4-0.3,0.3,0.4,0.6,0.3
                            c0,0,0.1,0,0.1,0c0.5-0.2,0.9,0.1,1.4,0.2c0.4,0.1,0.9,0.3,1.3,0c0.1-0.1,0.3,0,0.4,0l0,0c0.1,0.6,0.5,0.3,0.8,0.3
                            c0.5-0.1,1-0.1,1.5,0.2c0.4-0.5,0.8-0.7,1.3-0.2c0.1,0.1,0.4,0.1,0.6,0c0.3-0.1,0.6-0.5,1-0.3c0,0.2,0.1,0.4,0.1,0.7
                            c0.3-0.3,0.6-0.6,0.8-0.9c0.3,0,0.6,0.1,0.9,0.1c0,0,0,0.1,0,0.1c-0.2,0-0.4,0.1-0.7,0.1c0.9,0.5,1.6-0.2,2.3,0.2
                            c0.1-0.3,0.1-0.5,0.2-0.7c0.3,0,0.6,0,0.9,0c0.2,0.2-0.3,0.4,0,0.6l0,0c0.1,0,0.1,0,0.2,0l0,0c0.2,0,0.4,0.1,0.7-0.1
                            c0.2-0.2,0.7-0.2,0.9-0.1c0.4,0.3,0.8,0.2,1.2,0.1c0.2,0,0.4,0,0.5,0.1c0.2,0.1,0.3,0.4,0.4,0.6c0-0.1,0.1-0.1,0.1-0.2
                            c0.3,0,0.6-0.2,0.9-0.1c0.3,0.1,0.6,0.3,1.1,0.1c-0.4-0.2-0.7-0.4-1.1-0.6c0.6-0.2,0.9,0.2,1.4,0.3c0.1-0.1,0.2-0.2,0.2-0.2
                            c0.4,0.1,0.7,0.2,1,0.3l0,0c0.3,0.4,0.7,0.2,1.1,0.1c0.4-0.1,0.8-0.1,1.3-0.2c0.3,0,0.5,0,0.8,0.1c0.1-0.2,0.2-0.3,0.3-0.5
                            c0.4,0.6,0.4,0.6,1,0.4c0.7-0.2,1.4-0.3,2.1,0c0.2,0.1,0.5,0.2,0.7,0.2c0.2-0.2,0.3-0.4,0.5-0.7c0.2,0.2,0.4,0.3,0.5,0.5
                            c-0.1,0.1-0.1,0.2-0.2,0.4c0.2,0,0.3,0,0.4,0c0.6-0.1,1.1-0.1,1.7,0.1c0.3,0.1,0.6,0,0.9-0.1c0.2,0,0.5-0.1,0.6-0.1
                            c0.5,0.2,0.8,0.1,1.2-0.2c0,0,0,0,0,0c0.7-0.4,0.8-0.4,1.5,0.2c0.3,0.3,0.6,0.4,1,0.2c0-0.2,0.1-0.3,0.1-0.6
                            c0.2,0.2,0.3,0.4,0.5,0.6c0.4-0.2,0.8-0.3,1.2-0.5c0.2-0.1,0.5-0.2,0.7,0c0.2,0.3,0.5,0.2,0.8,0.2c0.5-0.1,1.1-0.4,1.6,0.1
                            c0.2-0.1,0.4-0.3,0.6-0.4c0.4,0,0.9-0.1,1.3,0.1c0.8,0.3,1.3-0.1,1.9-0.4c0.1-0.1,0.3-0.2,0.4-0.3c0.5,0.3,0.6,0.3,0.9-0.1
                            c0.2,0,0.3,0.1,0.5,0c0.3-0.1,0.5-0.2,0.8-0.3c0.4-0.1,0.7-0.2,0.8-0.6c0,0,0.1-0.1,0.1-0.1c0.2,0,0.3,0,0.5,0
                            c0.1-0.2,0.3-0.3,0.4-0.5c0.1,0.1,0.2,0.3,0.3,0.5c0.1-0.8,0.2-1.5,0.4-2.2c-0.3,0.3-0.6,0.3-0.9,0c-0.1-0.1-0.2,0-0.4,0
                            c-0.1-0.5,0.4-0.5,0.6-0.9c-0.6-0.1-1.1-0.3-1.6-0.4l0,0c-0.8-0.5-0.9-0.6-0.3-1.2c0,0,0-0.1,0.1-0.2c-0.2-0.1-0.5-0.2-0.7-0.3
                            c-0.5-0.1-1.1-0.2-1.6-0.3c-0.9-0.2-1.8-0.3-2.7-0.5c-0.1,0-0.1-0.1-0.2-0.1c0.9-0.5,2.5-0.7,3.3-0.4c0.7,0.3,1.4,0.3,2.2,0.1
                            c0.4,0.8,1,0.3,1.5,0.3c0.6,0,1-0.4,1.2-1c-1-0.2-1.6-1.1-2.7-0.9c0.1-0.2,0.2-0.4,0.3-0.4c0.4-0.2,0.8-0.3,1.1-0.4
                            c0.2-0.1,0.5-0.2,0.5-0.5c0-0.3-0.1-0.3-0.3-0.2c0-0.4-0.2-0.7-0.7-0.5c-0.1,0-0.2,0-0.3,0c-0.8-0.1-1.7-0.3-2.5-0.5
                            c-0.3-0.1-0.5-0.2-0.8-0.2c-0.4-0.1-0.9-0.2-1.3-0.3c-0.4,0-0.9-0.4-1.1-0.9c0.3,0,0.7-0.1,1,0c0.7,0.2,1.5,0.4,2.2,0.5
                            c0.7,0.1,1.4,0.3,2.1,0.4c0.6,0.1,1.3,0.2,2,0.3c0.4-0.4,0.9-0.4,1.4-0.1c0.4,0.3,0.5,0.3,0.7-0.1c0.1-0.2,0.1-0.3,0.1-0.5l0,0
                            c-0.4-0.3-0.7-0.5-1.1-0.8c-0.1-0.1-0.3-0.2-0.4-0.2c-0.6,0.3-1.1-0.1-1.6-0.3l0,0c-0.3-0.1-0.5-0.2-0.8-0.2c-1,0.1-2,0-2.9-0.3
                            c-0.6-0.2-1.1-0.2-1.7-0.3c-0.3,0-0.5-0.1-0.6-0.4c-0.1-0.2-0.2-0.3-0.3-0.5c0.4,0,0.7-0.1,1-0.1c0.2,0,0.4,0,0.5-0.1
                            c0.5-0.4,1.1-0.5,1.7-0.4c0.6,0,1.2,0.2,1.7,0.2c0.8,0,1.5-0.2,2.3-0.2c0.3,0,0.4-0.1,0.6-0.3c0.2-0.2,0.3-0.6,0.7-0.5
                            c0,0.2,0,0.4-0.1,0.6c0.9,0.5,1.7-0.5,2.4-0.2c0.3-0.1,0.7-0.3,0.9-0.3c0.4,0.2,0.7,0,1-0.1c0.2-0.1,0.4-0.2,0.6-0.2
                            c1,0,2,0,2.9,0c1,0,1.1-0.2,1.2-1.2C224.8,7.1,224.7,7.7,224.4,7.9z M20.2,2.3c-0.1-0.2-0.3-0.4-0.3-0.4c0.1-0.1,0.3-0.2,0.4-0.3
                            c0,0,0.3,0.2,0.2,0.3C20.6,2,20.4,2.1,20.2,2.3z M21.6,2.1c0,0-0.1,0-0.1-0.1c0,0,0.1-0.1,0.1-0.1C21.6,1.9,21.7,2,21.6,2.1
                            C21.7,2,21.6,2,21.6,2.1z M23.6,2.1c-0.1-0.2-0.2-0.2-0.2-0.3c0.1,0,0.1-0.1,0.1-0.1c0.1,0,0.1,0.1,0.1,0.1
                            C23.7,1.9,23.7,2,23.6,2.1z M26.2,0.9C26.2,0.9,26.3,0.9,26.2,0.9c0,0,0,0.1,0,0.1C26.2,1,26.2,1,26.2,0.9
                            C26.2,1,26.2,0.9,26.2,0.9z M26,2c0.5-0.4,0.6-0.4,1.1,0.1C26.6,2.1,26.3,2.1,26,2z M28.4,6.1c0,0,0.1,0,0.1-0.1
                            c0,0.1,0,0.2,0.1,0.3C28.5,6.2,28.5,6.1,28.4,6.1z M29.6,4C29.6,4,29.6,4,29.6,4C29.6,4,29.6,4,29.6,4C29.6,4,29.6,4,29.6,4z
                             M12.6,11.2c0,0-0.1,0-0.1-0.1c0,0,0.1-0.1,0.1-0.1C12.6,11.1,12.6,11.1,12.6,11.2C12.6,11.2,12.6,11.2,12.6,11.2z M13.7,13.2
                            c0-0.1,0-0.1-0.1-0.2C13.7,13.1,13.7,13.1,13.7,13.2C13.8,13.2,13.7,13.2,13.7,13.2z M18.3,10.4c0,0,0-0.1-0.1-0.1
                            c0,0,0.1,0,0.1,0C18.3,10.3,18.3,10.3,18.3,10.4C18.3,10.4,18.3,10.4,18.3,10.4z M30,1.9c0,0,0.1,0,0.1,0.1c0,0,0,0.1-0.1,0.1
                            c0,0-0.1,0-0.1,0C29.9,2,30,1.9,30,1.9z M31.8,5.3c-0.2-0.1-0.5-0.2-0.7-0.3c-0.2-0.1-0.4-0.2-0.6,0.1c-0.1,0.1-0.3,0.1-0.5,0.1
                            c1-0.9,2-0.8,2.7,0.1C32.4,5.5,32.1,5.4,31.8,5.3z M32.7,6.8c0-0.3,0-0.3,0.4-0.6C33.1,6.6,33.1,6.6,32.7,6.8z M34,6.2
                            c-0.1-0.1-0.1-0.2-0.2-0.2c0,0,0.1,0,0.1-0.1C34,6,34,6.1,34.1,6.2C34.1,6.2,34,6.2,34,6.2z M35.9,5.9c-0.4-0.1-0.7-0.2-1.1,0
                            c-0.1,0-0.2-0.1-0.3-0.2c0-0.1,0-0.1,0-0.2C34,5.4,33.7,5,33.1,5.1c0-0.2,0-0.4-0.1-0.7c0.4,0.1,0.8,0.1,1.2,0.2
                            c0,0.1,0.1,0.3,0.1,0.4c0.4,0.1,0.7,0.2,1,0.3c0.3,0.1,0.5,0.2,0.9,0.4C36,5.8,35.9,5.9,35.9,5.9z M36.3,5.1c0-0.1,0-0.2,0.1-0.3
                            c0-0.1,0.1-0.1,0.2-0.2c0.1,0.1,0.1,0.1,0.2,0.2C36.6,4.9,36.5,5,36.3,5.1z M37.4,5.9C37.4,5.9,37.4,5.9,37.4,5.9
                            C37.4,5.9,37.4,5.9,37.4,5.9C37.4,5.9,37.4,5.9,37.4,5.9z M37.9,5.5c-0.2,0.1-0.4,0.2-0.6,0.3c0,0,0,0,0,0c-0.2,0-0.4,0-0.6,0
                            c0-0.1,0-0.1-0.1-0.2c0.7,0,0.9-0.6,1.5-0.9c0.1,0.3,0.3,0.6,0.5,1.1C38.3,5.7,38.2,5.6,37.9,5.5z M40.8,5.6
                            c-0.1,0-0.2-0.1-0.3-0.1c0.1,0,0.2,0,0.4,0C40.8,5.6,40.8,5.6,40.8,5.6z M41.9,5.4C41.9,5.4,41.8,5.4,41.9,5.4
                            c-0.1-0.1,0-0.1,0-0.1C41.9,5.3,41.9,5.4,41.9,5.4C41.9,5.4,41.9,5.4,41.9,5.4z M42.3,5.1L42.3,5.1L42.3,5.1L42.3,5.1z M42.7,3.4
                            c-0.3,0.1-0.6,0.2-0.8,0.2c-0.1,0-0.3-0.1-0.5,0c-1.4,0.3-2.8-0.2-4.1-0.3c-0.5,0-1,0-1.5-0.1c-0.4,0-0.7,0.1-1.1,0
                            c-0.3-0.1-0.7-0.2-1-0.5c0.7,0,1.4,0,2.2,0c0.4,0,0.7,0,1.1,0c0.4,0,0.7-0.1,1,0.1c0.2,0.1,0.5,0,0.8,0c0.3-0.1,0.6-0.1,0.9,0.1
                            l0,0c0.5-0.1,1,0,1.5,0.2c0.3-0.6,0.9-0.5,1.4-0.4C43,2.8,43,3,42.7,3.4z M43.2,3.1c0.5-0.1,0.5,0.3,0.7,0.5
                            C43.6,3.6,43.4,3.4,43.2,3.1z M18,25c-0.1,0-0.2,0-0.2-0.1c-0.2-0.3-0.1-0.4,0.4-0.6C18.1,24.7,18.1,24.8,18,25z M20.3,24.6
                            c-0.2-0.1-0.3-0.2-0.5-0.3c0,0,0-0.1,0.1-0.1c0.2,0.1,0.4,0.2,0.5,0.3C20.3,24.5,20.3,24.6,20.3,24.6z M21.3,24.7L21.3,24.7
                            c0,0-0.1,0-0.1-0.1c0,0,0-0.1-0.1-0.1c1.1-0.3,1.1-0.3,1.3,0.3C22,24.9,21.6,24.9,21.3,24.7z M23.4,25.3c-0.2,0-0.3-0.1-0.3-0.8
                            c0.2,0.2,0.3,0.3,0.4,0.4c0.3,0.1,0.4-0.5,0.7-0.1C24,25.1,23.8,25.3,23.4,25.3z M26.7,25.5c-0.1-0.1-0.1-0.1-0.2-0.2
                            c0,0,0.1-0.1,0.1-0.1C26.7,25.3,26.7,25.3,26.7,25.5C26.8,25.4,26.7,25.5,26.7,25.5z M26.7,24.3c0-0.1-0.1-0.1-0.1-0.1
                            c0,0,0.1-0.1,0.1-0.1c0,0,0.1,0,0.1,0.1C26.8,24.2,26.7,24.2,26.7,24.3z M27.4,25.2c-0.1,0-0.1-0.1-0.3-0.1
                            c0.2-0.1,0.3-0.1,0.3-0.1c0.1,0,0.1,0.1,0.1,0.1C27.5,25.2,27.4,25.2,27.4,25.2z M27.7,24.6L27.7,24.6L27.7,24.6L27.7,24.6z
                             M28.9,24.2L28.9,24.2L28.9,24.2L28.9,24.2z M28.9,25.1c0-0.1,0-0.1,0-0.2c0-0.1,0-0.2,0-0.3c0,0.1,0.1,0.2,0.1,0.3
                            c0.1,0.1,0.3,0.2,0.5,0.3C29.2,25.5,29,25.4,28.9,25.1z M30.4,25.2C30.3,25.2,30.3,25.2,30.4,25.2C30.4,25.2,30.4,25.2,30.4,25.2
                            C30.4,25.2,30.4,25.2,30.4,25.2z M31.8,25.7c-0.1-0.1-0.2-0.2-0.3-0.2c0,0,0-0.1,0.1-0.1C31.7,25.5,31.8,25.5,31.8,25.7
                            C31.9,25.7,31.9,25.7,31.8,25.7z M32.8,25.7c0.1-0.3,0.3-0.3,0.5,0C33.1,25.8,32.9,25.8,32.8,25.7z M34.5,25.6
                            c-0.5-0.1-0.6-0.4-0.6-0.8c0-0.1,0.2-0.3,0.5-0.5C34.6,24.9,34.7,25.2,34.5,25.6z M36.9,25.1c-0.5,0-1,0.2-1.3,0.7
                            c0-0.1-0.1-0.1-0.1-0.2c0.2-0.3,0.4-0.6,0.6-0.9c0.3,0,0.6,0.1,1,0.1C36.9,24.9,36.9,25.1,36.9,25.1z M37.1,24.5L37.1,24.5
                            L37.1,24.5L37.1,24.5z M38.6,21.6c0-0.1,0-0.2,0-0.2c0.1,0,0.3-0.1,0.4-0.1c0,0,0,0.2,0.1,0.3C38.9,21.6,38.8,21.6,38.6,21.6z
                             M40.8,21.5c-0.1-0.1-0.1-0.1-0.2-0.1c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0.1,0.1,0.1,0.1C41,21.4,40.9,21.5,40.8,21.5z M40.3,26
                            c-0.1,0-0.1,0-0.2-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1,0,0.1,0C40.3,25.9,40.3,26,40.3,26z M41.8,21.8c0,0-0.1,0-0.1-0.1
                            c0,0,0-0.1,0.1-0.1c0,0,0.1,0,0.1,0C41.8,21.7,41.8,21.8,41.8,21.8z M42.1,26.2c0-0.1-0.1-0.1-0.1-0.2c0,0,0.1-0.1,0.1-0.1
                            c0,0.1,0.1,0.1,0.1,0.2C42.2,26.1,42.2,26.1,42.1,26.2z M42.4,21.2c0-0.1,0.1-0.1,0.2-0.1c0,0,0.1,0.1,0.1,0.2
                            c0,0.1,0,0.2-0.1,0.3c-0.1,0-0.1-0.1-0.2-0.1C42.4,21.3,42.3,21.2,42.4,21.2z M42.5,24.5c0.3-0.1,0.5-0.2,0.6-0.3
                            C43.1,24.6,43.1,24.6,42.5,24.5z M45.1,20.8C45.1,20.8,45.1,20.8,45.1,20.8C45.1,20.8,45.1,20.8,45.1,20.8
                            C45.1,20.8,45.1,20.8,45.1,20.8z M45.3,21.7c0,0-0.2-0.1-0.2-0.1c0-0.1,0-0.3,0.1-0.4c0-0.1,0.1-0.1,0.2-0.2l0,0
                            c0.1,0.1,0.3,0.2,0.2,0.3C45.5,21.5,45.4,21.6,45.3,21.7z M45.6,24.9C45.6,24.8,45.6,24.8,45.6,24.9
                            C45.6,24.8,45.6,24.8,45.6,24.9C45.6,24.8,45.6,24.9,45.6,24.9z M46.3,25.8L46.3,25.8L46.3,25.8L46.3,25.8z M48.9,6.2L48.9,6.2
                            L48.9,6.2L48.9,6.2z M48.7,20.1c-0.4,0.4-0.4,0.4-0.8,0.1C48.2,20.1,48.4,19.9,48.7,20.1z M47.8,20.1c0,0,0,0.1,0,0.1
                            C47.9,20.2,47.8,20.2,47.8,20.1C47.8,20.2,47.8,20.1,47.8,20.1z M49,24.4c-0.1,0.4-0.1,0.4,0,0.8c-0.3,0.1-0.6,0.1-0.8,0.2
                            c-0.1,0.3-0.2,0.5-0.4,0.8c-0.9-0.6-0.9-0.8-0.1-1.7c0.1,0,0.3,0.1,0.4,0.1c0-0.2,0-0.5,0.1-0.7c0.2,0,0.4-0.1,0.6,0
                            C49,23.9,49.1,24.1,49,24.4z M52.1,20.4C52.2,20.4,52.2,20.4,52.1,20.4c0,0.2,0,0.2-0.1,0.3c0,0-0.1,0-0.1-0.1
                            C52,20.6,52.1,20.5,52.1,20.4z M52.2,23.6L52.2,23.6L52.2,23.6L52.2,23.6z M49.8,20.2c0,0,0.1,0,0.1,0.1c0,0-0.1,0.1-0.1,0.1
                            c-0.1,0-0.1-0.1-0.1-0.1C49.7,20.2,49.7,20.2,49.8,20.2z M49.6,24c0.2-0.1,0.4-0.1,0.7-0.2c-0.2,0.4-0.4,0.5-0.7,0.4
                            C49.7,24.1,49.7,24,49.6,24z M50.1,20.8c0.1-0.1,0.2-0.2,0.4-0.4c0.1,0.4-0.1,0.5-0.3,0.5C50.2,20.9,50.1,20.8,50.1,20.8z
                             M50.6,25.4c-0.2,0.1-0.3,0.5-0.5,0.8c-0.1-0.1-0.2-0.2-0.4-0.4c0.1-0.1,0.2-0.2,0.3-0.3c-0.1-0.1-0.1-0.2-0.2-0.3
                            c-0.3-0.4-0.3-0.5,0.2-0.7c0.9-0.4,1.3-0.2,1.5,0.8C51.3,25.4,50.9,25.3,50.6,25.4z M51.1,20.6C51.2,20.6,51.2,20.6,51.1,20.6
                            c0.1,0,0.1,0.1,0.1,0.1c0,0,0,0-0.1,0C51.2,20.7,51.2,20.7,51.1,20.6z M51.7,24L51.7,24L51.7,24L51.7,24z M50.5,6.2
                            c0.4-0.5,0.9-0.2,1.3-0.3C51.2,6.5,51.1,6.5,50.5,6.2z M51.9,24.5c0.3,0,0.4,0,0.6,0c0.1,0,0.1,0,0.2,0c0.4,0.3,0.4,0.3,0.5,0.9
                            C52.4,25.6,52.3,24.9,51.9,24.5z M53.4,24.9c0.2-0.2,0.3-0.3,0.5-0.4C53.8,24.8,53.8,24.8,53.4,24.9z M54.3,16.6
                            C54.3,16.6,54.3,16.6,54.3,16.6C54.3,16.5,54.3,16.5,54.3,16.6C54.3,16.6,54.3,16.6,54.3,16.6z M54.6,21.4
                            c0.2-0.4,0.3-0.4,0.5-0.3C55,21.2,54.9,21.3,54.6,21.4z M55.1,21.2c0.3-0.1,0.6-0.3,1-0.3c0.4-0.1,0.5,0,0.5,0.7
                            C56.1,21.4,55.6,21.3,55.1,21.2z M56,25.1c-0.1-0.1-0.1-0.1-0.2-0.2c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0.1,0,0.1,0.1
                            C56.1,24.9,56,25,56,25.1z M57.1,25.8c-0.1-0.2-0.2-0.4-0.3-0.6c0.1,0,0.2-0.1,0.2-0.1c0.1,0.2,0.1,0.4,0.2,0.6
                            C57.2,25.7,57.2,25.8,57.1,25.8z M58.4,24.6L58.4,24.6L58.4,24.6L58.4,24.6z M58.5,25.2C58.5,25.2,58.5,25.2,58.5,25.2
                            c0-0.1,0-0.1,0-0.1C58.5,25.1,58.6,25.2,58.5,25.2C58.5,25.2,58.5,25.2,58.5,25.2z M59.6,25.3c-0.5-0.1-0.4-0.5-0.3-0.8
                            c-0.5-0.5-1.2-0.4-1.7-0.6c-0.1,0-0.3,0.1-0.4,0.2c-0.1,0.1-0.2,0.2-0.4,0.3c-0.1-0.2-0.2-0.5-0.3-0.6C56.3,23.8,56,24,56,23.5
                            c1,0,2,0,3,0c0.1,0.2,0.2,0.5,0.3,0.8c0.2,0.2,0.7,0.1,0.8,0.6C60,25.1,59.8,25.2,59.6,25.3z M57.6,19.8c0.1,0,0.2-0.1,0.2-0.1
                            c0,0,0.1,0.1,0.1,0.2c0,0.1-0.1,0.1-0.2,0.2C57.7,20,57.7,19.9,57.6,19.8z M58.4,19.8c0-0.1,0.1-0.2,0.1-0.3c0,0,0.1,0,0.1,0.1
                            c0,0.1-0.1,0.2-0.1,0.3C58.5,19.8,58.5,19.8,58.4,19.8z M59.1,19.9c0.3-0.2,0.6-0.2,1,0.1C59.7,20.1,59.4,20.2,59.1,19.9z
                             M60.7,23.7c-0.4,0.6-0.4,0.6-1.1,0.1C60,23.6,60.4,23.3,60.7,23.7z M59.7,23.7c0-0.1-0.1-0.1-0.1-0.2c0,0,0,0,0.1,0
                            C59.6,23.6,59.7,23.7,59.7,23.7z M61,25.2c-0.4,0,0,0.3-0.2,0.4c-0.5,0.1-0.4-0.4-0.6-0.6c0.2-0.1,0.3-0.2,0.5-0.3
                            c0.1,0,0.4-0.1,0.5,0C61.3,24.9,61.2,25.2,61,25.2z M61.5,23.7c0-0.1,0-0.1,0-0.2c0.1,0,0.3,0,0.4,0c0,0,0,0.1,0,0.1
                            C61.7,23.7,61.6,23.7,61.5,23.7z M62.1,25.7c-0.1,0-0.2,0-0.4-0.1c0-0.1,0-0.2,0-0.2c0.1,0,0.3,0.1,0.4,0.1
                            C62.1,25.6,62.1,25.7,62.1,25.7z M61.9,20.7c-0.1,0.1-0.3,0.1-0.4,0c-0.1-0.1-0.1-0.3,0-0.4c0.1-0.1,0.2-0.3,0.3-0.4
                            c0.1,0,0.2-0.1,0.3,0c0.1,0.1,0.2,0.2,0.3,0.3C62.2,20.4,62.1,20.6,61.9,20.7z M64.9,26.2c-0.2,0.1-0.4-0.1-0.4-0.3
                            c0-0.3,0-0.6,0-0.9c-0.3,0-0.5,0-0.7,0l0,0c-0.1,0-0.3,0-0.4-0.1c-0.4-0.3-0.7-0.7-1.1-1c0,0,0.1-0.1,0.1-0.2c0.5-0.4,1.4-0.4,2,0
                            c-0.4,0.3-0.7,0.3-1.1,0.2c0.1,0.8,0.1,0.8,1.2,0.3c0.2,0.4,0.3,0.9,0.5,1.3l0,0c0,0.1,0.1,0.2,0.1,0.3C65.1,26,65,26.2,64.9,26.2
                            z M65.4,2.6c-0.1,0-0.2,0.1-0.3,0.1c-0.7-0.1-1.5,0-2.2,0.3c-0.1,0-0.3,0-0.4,0c-0.3-0.1-0.6-0.2-1-0.3c-0.3,0.7-0.9,0.6-1.5,0.6
                            c-0.6-0.1-1.2-0.3-1.8-0.4c-0.1,0-0.2-0.1-0.4-0.1c-0.7,0-1.5-0.1-2.2-0.1c-0.2,0-0.3-0.1-0.5-0.1c0-0.1,0-0.1,0-0.1
                            c0,0,0,0,0.1,0c5-0.2,10-0.3,15-0.5c0.1,0,0.2,0.1,0.3,0.1c0,0,0.1,0.1,0.2,0.3c-0.7,0-1.3,0.1-1.8,0.1c-0.1,0-0.3-0.1-0.4,0
                            c-0.7,0.3-1.5,0.3-2.2,0.2C66,2.5,65.7,2.6,65.4,2.6z M70.4,20c0,0.1-0.1,0.1-0.1,0.1c0,0-0.1-0.1-0.2-0.1
                            C70.2,20,70.3,19.9,70.4,20C70.3,19.9,70.4,20,70.4,20z M66,23.8c0,0,0-0.1,0-0.2c0.4-0.1,0.8-0.1,1.2-0.2
                            c0.2,0.3,0.1,0.4-0.1,0.5c-0.2,0.1-0.3,0.2-0.5,0.3l0,0C66.4,24.1,66.2,23.9,66,23.8z M65.8,19.8c0,0,0.1,0.1,0.1,0.1
                            c0,0-0.1,0.1-0.2,0.2c0-0.1-0.1-0.1-0.1-0.2C65.7,19.8,65.8,19.8,65.8,19.8z M67.8,25.6c-0.4,0-0.8-0.1-1.3-0.1
                            c-0.2,0-0.5-0.2-0.8-0.3c0.4-0.4,0.7-0.2,1.1-0.1c0.1-0.1,0.2-0.3,0.3-0.5c0.3,0.3,0.5,0.5,0.8,0.7c0.1,0,0.3,0,0.6,0
                            C68.5,25.8,68.1,25.7,67.8,25.6z M67.7,23.7c0.3-0.1,0.4-0.3,0.6-0.3c0.3,0,0.6,0,1,0c0,0,0.1,0.2,0.1,0.4
                            C68.8,23.8,68.3,23.8,67.7,23.7z M69.6,25.4c0-0.1-0.1-0.2-0.1-0.2c0,0,0.1,0,0.1,0c0.1,0.1,0.1,0.1,0.1,0.2
                            C69.7,25.3,69.7,25.4,69.6,25.4z M69.7,20.2c-0.1,0-0.2-0.1-0.4-0.2c0.2,0,0.2-0.1,0.3-0.1c0.1,0,0.2,0.1,0.2,0.2
                            C69.8,20.1,69.7,20.3,69.7,20.2z M69.8,23.6c0.4-0.5,0.5-0.5,1-0.2l0,0C70.5,24,70.4,24,69.8,23.6z M187.2,21.1
                            c0.1,0.1,0.2,0.1,0.3,0.2c-0.1,0.1-0.1,0.2-0.1,0.2c-0.1,0-0.2-0.1-0.3-0.2C187.1,21.2,187.2,21.2,187.2,21.1z M183.5,22.9
                            C183.5,22.9,183.6,22.9,183.5,22.9c0,0.1,0,0.1,0,0.2C183.5,23,183.5,23,183.5,22.9C183.5,22.9,183.5,22.9,183.5,22.9z
                             M182.7,22.3c0,0.2,0.1,0.4,0.1,0.6C182.3,22.7,182.4,22.6,182.7,22.3z M178.7,15c-0.5,0-1,0-1.6,0
                            C177.6,14.6,178.2,14.8,178.7,15z M176.7,22.8c-0.1-0.2-0.3-0.4-0.5-0.7c0.3,0,0.5,0,0.8,0C177,22.5,176.9,22.7,176.7,22.8z
                             M167.9,22.2C167.9,22.2,167.9,22.2,167.9,22.2C167.8,22.2,167.8,22.2,167.9,22.2C167.8,22.2,167.8,22.2,167.9,22.2
                            C167.9,22.2,167.9,22.2,167.9,22.2z M160.7,22.5c-0.5,0.3-0.9,0.3-1.3,0.3c-0.6,0.1-1.2,0.2-1.8,0.2c-0.2,0-0.5-0.2-0.8-0.3
                            c0.3-0.5,0.5-0.8,1.1-0.7c0.7,0.2,1.5,0.2,2.3,0.2C160.4,22.3,160.5,22.4,160.7,22.5z M156.2,22L156.2,22L156.2,22L156.2,22z
                             M79.6,25.3c-0.1-0.1-0.2-0.2-0.4-0.3C79.5,25,79.5,25,79.6,25.3z M73.2,20C73.2,20,73.2,20,73.2,20c-0.1,0-0.1-0.1-0.1-0.1
                            C73.2,19.9,73.2,19.9,73.2,20C73.2,20,73.2,20,73.2,20z M71.8,19.9L71.8,19.9L71.8,19.9L71.8,19.9z M73.1,2.6L73.1,2.6L73.1,2.6
                            L73.1,2.6z M167.1,4.1c0,0,0,0.1,0.1,0.2c-0.2-0.1-0.2-0.2-0.3-0.2C167,4.1,167,4.1,167.1,4.1z M165.6,4c-0.4-0.2-0.8,0.4-1.2-0.2
                            C164.9,3.4,164.9,3.4,165.6,4z M151.4,3.5C151.4,3.5,151.4,3.5,151.4,3.5c0,0.1,0,0.2,0,0.2c0,0-0.1-0.1-0.1-0.1
                            C151.3,3.5,151.3,3.5,151.4,3.5z M133.1,2.4L133.1,2.4L133.1,2.4L133.1,2.4z M132.3,2.5c0,0,0.1,0,0.1,0c0.1,0.2,0.1,0.3,0.2,0.5
                            l0,0c-0.1,0-0.3,0-0.4,0C132.3,2.8,132.3,2.6,132.3,2.5z M131.5,2.4c-0.4,0.7-0.7,0.7-1.2,0.1C130.8,2.4,131.2,2.4,131.5,2.4z
                             M128.7,2.5c0,0.1-0.1,0.1-0.1,0.2c0,0-0.1-0.1-0.1-0.1C128.6,2.6,128.6,2.5,128.7,2.5z M126.5,0.8c0,0.1,0,0.2-0.1,0.3
                            c0,0-0.1,0-0.1,0C126.4,1,126.5,0.9,126.5,0.8z M123.7,2.5L123.7,2.5L123.7,2.5L123.7,2.5z M116.1,2.2c-0.1,0.5-0.1,0.4-0.6,0.2
                            C115.7,2.1,116,2.2,116.1,2.2z M113.6,2c0.1,0.1,0.2,0.2,0.3,0.3c-0.1,0.1-0.1,0.1-0.2,0.2c-0.1-0.1-0.2-0.2-0.3-0.3
                            C113.5,2.1,113.5,2,113.6,2z M112.5,2C112.5,2,112.5,2,112.5,2c0,0.1,0,0.1,0,0.1c0,0,0,0-0.1,0C112.4,2.1,112.4,2,112.5,2z
                             M95.1,1.7c0,0,0,0.1,0,0.1c0,0-0.1,0.1-0.1,0.1c0,0-0.1-0.1,0-0.1C95,1.7,95.1,1.7,95.1,1.7z M88,1.7L88,1.7L88,1.7L88,1.7z
                             M84.5,3.1c-0.1-0.1-0.1-0.2-0.2-0.3C84.6,2.8,84.6,2.8,84.5,3.1z M75.5,1.8c0,0.1,0,0.1,0,0.2c-0.1,0-0.2,0-0.3,0
                            c0,0,0-0.1,0-0.1C75.3,1.8,75.4,1.8,75.5,1.8z M74.5,1.8c0,0.1,0.1,0.1,0.1,0.2c0,0.1-0.1,0.1-0.1,0.2C74.4,2,74.4,2,74.3,1.9
                            C74.4,1.9,74.5,1.8,74.5,1.8z M73.6,1.8c0,0.2,0,0.3-0.1,0.4c-0.4-0.1-0.8-0.2-1.4-0.3C72.7,1.6,73.1,1.8,73.6,1.8z M71.8,1.8
                            C71.7,1.9,71.7,2,71.7,2c-0.2,0-0.3,0-0.5,0.1c0,0,0-0.1,0-0.1C71.4,1.9,71.6,1.8,71.8,1.8z M75.3,25.6c-0.1,0-0.1-0.1-0.2-0.2
                            c0.1-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0.1,0.2,0.1C75.4,25.5,75.4,25.6,75.3,25.6z M74.2,24.4c-0.3,0.2,0.2,0.7-0.4,0.8
                            c0-0.1-0.1-0.2-0.1-0.3c-0.1-0.3-0.3-0.4-0.6-0.5c-0.6-0.1-1.1-0.3-1.7-0.4c-0.1,0-0.2-0.1-0.2-0.2c0-0.1,0.1-0.2,0.2-0.3
                            c0.3-0.1,0.6-0.2,0.8-0.3c0.2,0,0.4,0,0.5,0.1c0.3,0.2,0.5,0.4,0.8,0.6l0,0c0.2-0.1,0.3-0.2,0.5-0.3c0,0,0,0,0,0
                            c0.3,0.1,0.6,0.2,0.9,0.3c0.1-0.1,0.3-0.3,0.4-0.5c0.3,0.1,0.6,0.1,0.8-0.3c0.2,0.3,0.7,0.3,0.6,0.9C75.9,24.4,75,24.2,74.2,24.4z
                             M76.7,26c0-0.2,0-0.4,0-0.7C77.1,25.7,76.9,25.8,76.7,26z M76.9,24.8c0.3-0.2,0.5,0,0.7,0.1l0,0c0.1,0.1,0.2,0.3,0.3,0.5
                            C77.3,25.5,77.1,25.2,76.9,24.8z M78.1,23.6c0.1,0,0.3-0.1,0.4-0.1c-0.1,0.1-0.2,0.2-0.3,0.3C78.2,23.7,78.1,23.6,78.1,23.6z
                             M79.4,25.9c-0.1,0.1-0.3-0.1-0.5-0.1c0.3-0.2,0.5-0.4,0.7-0.5l0,0C79.8,25.6,79.6,25.8,79.4,25.9z M80,25.8L80,25.8L80,25.8
                            L80,25.8z M80.1,25.1C80.1,25.1,80.1,25,80.1,25.1C80.1,25,80.1,25,80.1,25.1c0.1-0.1,0.1,0,0.1,0C80.1,25,80.1,25.1,80.1,25.1z
                             M80.5,26.1L80.5,26.1L80.5,26.1L80.5,26.1z M79.4,23.6c0-0.1,0-0.3,0.1-0.3c0.4-0.2,0.9-0.1,1.3,0.3
                            C80.3,23.6,79.9,23.6,79.4,23.6z M81.1,24.5c0-0.1-0.1-0.2-0.2-0.4c0.3,0,0.6-0.1,0.6,0.2C81.6,24.7,81.3,24.6,81.1,24.5z
                             M81.4,25.4C81.4,25.4,81.4,25.4,81.4,25.4c0.1-0.1,0.2-0.1,0.3-0.1c0,0,0,0.1,0,0.1C81.6,25.4,81.5,25.4,81.4,25.4z M82.3,24.1
                            c0.1-0.4-0.1-0.9,0.5-1c0.3,0,0.3,0,0.5,0.5C83,23.8,82.6,24,82.3,24.1z M83.7,24.6c0.3-0.2,0.4-0.1,0.4,0.1
                            C84,24.6,83.9,24.6,83.7,24.6z M84.2,24.7c0.2,0.1,0.5,0.2,0.5,0.6C84.3,25.3,84.2,25,84.2,24.7z M85,24.3
                            c-0.3-0.2-0.6-0.5-0.8-0.7c0.6-0.3,1.1-0.4,1.7-0.1c-0.1,0.1-0.2,0.2-0.3,0.3c0,0,0,0,0,0C85.1,23.8,85.1,23.8,85,24.3z
                             M86.4,25.4c-0.5-0.1-0.5-0.1-0.4-0.9c-0.2-0.1-0.4-0.1-0.5-0.2c-0.2-0.1-0.2-0.3,0-0.4c0.1,0.1,0.2,0.2,0.3,0.2
                            c0.2,0.1,0.4,0.1,0.6,0.1C86.4,24.7,86.4,25.1,86.4,25.4z M87.1,24.9C87,24.9,87,24.9,87.1,24.9c-0.1,0-0.1-0.1,0-0.1
                            c0,0,0,0,0.1,0C87.1,24.8,87.1,24.9,87.1,24.9z M86.4,23.4c0.4,0,0.8,0,1.2,0C87.1,23.9,87,23.9,86.4,23.4z M97.4,25
                            c-0.1-0.1-0.1-0.1-0.1-0.2c0,0,0.1-0.1,0.1-0.1c0.1,0.1,0.1,0.1,0.2,0.2C97.5,24.9,97.5,24.9,97.4,25z M103.9,25.1
                            C103.9,25.1,103.9,25,103.9,25.1c-0.1-0.1,0-0.1,0-0.1C103.9,25,104,25,103.9,25.1C104,25.1,104,25.1,103.9,25.1z M105.3,25
                            c0.2,0.3,0.3,0.4,0.4,0.6C105.1,25.7,105.1,25.7,105.3,25z M106.4,25.9c0.1-0.4,0.2-0.7,0.8-0.7C106.8,25.5,106.6,25.7,106.4,25.9
                            z M110.7,21.8C110.7,21.8,110.6,21.7,110.7,21.8c-0.1-0.1,0-0.2,0-0.2c0,0,0.1,0.1,0.1,0.1C110.8,21.7,110.8,21.8,110.7,21.8z
                             M113.2,25.3L113.2,25.3C113.2,25.3,113.1,25.3,113.2,25.3z M123.9,25.2c0,0-0.1,0-0.1,0c0,0,0-0.1,0.1-0.1
                            C123.9,25.1,123.9,25.1,123.9,25.2C123.9,25.1,123.9,25.2,123.9,25.2z M128.3,24.5c0,0.1,0,0.1,0.1,0.2
                            C128.3,24.6,128.3,24.6,128.3,24.5C128.3,24.6,128.3,24.5,128.3,24.5z M129.3,25.3C129.3,25.3,129.3,25.3,129.3,25.3
                            C129.3,25.3,129.3,25.3,129.3,25.3C129.3,25.3,129.3,25.3,129.3,25.3C129.3,25.3,129.3,25.3,129.3,25.3z M137,25.2
                            c0.4-0.3,0.4-0.3,1.2,0C137.7,25.2,137.4,25.2,137,25.2z M150.7,22.6c-1.5,0-3-0.1-4.5-0.1c-0.3,0-0.6-0.2-1.1-0.3
                            c0.4-0.3,0.8-0.4,1.1-0.3c0.9,0.1,1.8,0.1,2.7,0.3c0.6,0.1,1.2,0.1,1.6-0.2c0.4,0.2,0.7,0.3,1.1,0.5
                            C151.4,22.7,151,22.6,150.7,22.6z M152.2,22.5C152.2,22.4,152.2,22.4,152.2,22.5c0-0.1,0.1-0.2,0.2-0.2
                            C152.3,22.3,152.3,22.4,152.2,22.5z M153.7,22.5c-0.4-0.4-0.9-0.2-1.3-0.3c0.7-0.6,1.3-0.2,2,0.3
                            C154.1,22.5,153.8,22.6,153.7,22.5z M154.4,24.8L154.4,24.8C154.4,24.8,154.4,24.8,154.4,24.8C154.4,24.8,154.4,24.8,154.4,24.8z
                             M154.4,24.8C154.4,24.8,154.4,24.8,154.4,24.8L154.4,24.8z M154.6,22c0,0-0.1,0-0.1-0.1c0,0,0.1-0.1,0.1-0.2
                            c0,0.1,0.1,0.1,0.1,0.1C154.7,22,154.6,22,154.6,22z M163.6,24.8c0,0,0-0.1,0.1-0.1c0.1,0.1,0.1,0.1,0.2,0.2
                            C163.8,24.8,163.7,24.8,163.6,24.8z M168.3,24.4L168.3,24.4L168.3,24.4L168.3,24.4z M184,25.4L184,25.4L184,25.4L184,25.4z
                             M187.8,25.8c0-0.1,0-0.1,0-0.2C187.8,25.7,187.9,25.7,187.8,25.8C187.9,25.8,187.9,25.8,187.8,25.8z M188.3,24.5
                            c-1.3,0-2.5,0.3-3.8-0.1c-0.1,0-0.3-0.1-0.5,0c-0.8,0.2-1.6,0.1-2.4,0c-1.1-0.1-2.2-0.1-3.3-0.1c-0.9,0-1.8-0.1-2.7-0.1
                            c-0.8,0-1.6,0.1-2.4,0.1c-0.2,0-0.4,0.1-0.6,0c-0.6-0.3-1.1-0.1-1.6,0c-0.3,0-0.6,0.3-0.9,0.4c-0.9-0.6-1.9-0.7-3-0.6
                            c-0.8,0.1-1.6-0.1-2.4-0.1c-0.9,0-1.8,0-2.6,0c-0.6,0-1.2,0-1.8,0c-1,0-2-0.1-3.1,0c-0.5,0-1,0.3-1.6,0.1c-0.1,0-0.2-0.1-0.4-0.2
                            c0.3-0.1,0.5-0.2,0.7-0.2c0.5,0,1.1-0.1,1.6,0c0.8,0.2,1.5-0.1,2.3-0.1c0.4,0,0.8,0,1.1-0.1c0.6-0.2,1.2-0.3,1.8-0.6
                            c0.3-0.1,0.5-0.4,0.9-0.8c-0.2-0.1-0.3-0.2-0.4-0.3c0.6,0,1.3,0,1.9,0c0.1,0,0.2,0.1,0.2,0.1c0.1-0.1,0.2-0.1,0.4-0.1
                            c0.4,0,0.9,0,1.3,0c0,0,0,0,0,0c0.1,0.5,0.5,0.5,1,0.7c0.1-0.1,0.2-0.2,0.3-0.4c0-0.1,0.1-0.2,0.1-0.3c0.4,0,0.7,0,1.1-0.1
                            c0,0.2,0.1,0.4,0.1,0.6c0.3-0.3,0.5-0.5,0.7-0.7c0,0,0,0-0.1-0.1c0.3-0.1,0.7-0.2,1-0.3c0.7,0.3,1.5,0.3,2.2,0.5
                            c0.5,0.1,0.9,0.3,1.4,0.4c0.1,0,0.1,0,0.2,0c0.6,0.1,1.2,0.2,1.4,1c0.1-0.2,0.2-0.3,0.3-0.4c0.2,0.2,0.5,0.3,0.8,0.1
                            c0.3-0.2,0.6-0.3,0.9-0.4l0,0c0.1,0.2,0.2,0.3,0.3,0.5c0.1,0.3,0.3,0.4,0.6,0.4c0-0.2,0-0.4,0.3-0.5c0.5-0.1,0.5,0.4,0.7,0.5
                            c0.5,0,1,0,1.5,0c0.3,0,0.5,0,0.8-0.1c0.1,0,0.2,0,0.4,0c0.3,0,0.6,0.1,0.9,0.1c0.3,0,0.7-0.1,0.8,0.4c0.1,0.2,0.3,0.2,0.5,0
                            c0.4-0.3,0.8-0.6,1.3-0.9c0,0.1-0.1,0.3-0.1,0.4c0,0.1,0,0.2,0,0.3l0,0c0.3-0.2,0.6-0.1,0.9,0.1c0.4,0.3,0.9,0.4,1.4,0.2
                            C188.7,24.4,188.6,24.5,188.3,24.5z M190,25.7C190,25.6,189.9,25.6,190,25.7c-0.1-0.1,0-0.1,0-0.1C190,25.6,190,25.6,190,25.7
                            C190,25.6,190,25.7,190,25.7z M190.2,20.8c-0.1-0.1-0.2-0.2-0.3-0.2c0,0,0.1-0.1,0.1-0.1c0.1,0.1,0.2,0.2,0.3,0.3
                            C190.3,20.8,190.2,20.8,190.2,20.8z M190.4,23c0-0.2,0-0.3,0-0.5C190.7,22.7,190.5,22.8,190.4,23z M191.1,24.6
                            c0.1-0.1,0.2-0.2,0.4-0.3C191.5,24.6,191.5,24.6,191.1,24.6z M191.9,21.9c0.1,0,0.2-0.1,0.3-0.1c0,0,0,0.1,0,0.1
                            C192.2,21.9,192,21.9,191.9,21.9z M192.3,21.3c0.3-0.2,0.4-0.2,0.5,0.2C192.7,21.4,192.5,21.4,192.3,21.3z M205.3,8.1
                            c-0.3,0.2-0.3,0.2-0.7,0.1C204.9,8,204.9,8,205.3,8.1z M203.5,8.1L203.5,8.1L203.5,8.1L203.5,8.1z M204.8,17.8c0,0,0,0.1,0.1,0.2
                            c-1.2,0.3-1.2,0.3-1.5-0.2C203.8,17.8,204.3,17.8,204.8,17.8z M203,15.9c0,0,0.1,0,0.1,0c0,0.1,0,0.1-0.1,0.2
                            c-0.1,0-0.1,0-0.2-0.1C202.9,16,202.9,16,203,15.9z M202.8,8.1c0,0,0.1,0.1,0.1,0.1c0,0-0.1,0-0.1,0c0,0,0-0.1-0.1-0.1
                            C202.7,8.1,202.8,8.1,202.8,8.1z M202.2,16c-0.4,0-1,0.4-1.4-0.2C201.3,15.4,201.7,15.8,202.2,16z M200.1,15.7c-0.2,0-0.4,0-0.8,0
                            C199.6,15.4,199.6,15.4,200.1,15.7z M198.7,15.4c-0.4,0-0.7,0-1.1,0C198,15.2,198.4,15.1,198.7,15.4z M196.6,14.9L196.6,14.9
                            L196.6,14.9L196.6,14.9z M195.8,14.9c-0.3,0.1-0.7,0.1-1,0.2C195.1,14.5,195.5,14.7,195.8,14.9z M196,23.2L196,23.2L196,23.2
                            L196,23.2z M198,22.2c-0.2,0-0.4,0-0.6-0.1c-0.6-0.2-1.3-0.4-1.9-0.3c-0.1,0-0.3-0.1-0.4-0.1c0-0.1,0-0.1,0-0.2
                            c0.2,0,0.3-0.1,0.5-0.1c0.7,0.1,1.4-0.1,2.1,0.3c0.1,0.1,0.5-0.1,0.7-0.1C198.4,22.1,198.3,22.2,198,22.2z M198.3,26.2
                            c0,0,0.1-0.1,0.1-0.1c0.1,0.1,0.2,0.2,0.3,0.3C198.6,26.3,198.5,26.2,198.3,26.2z M199,21.4c0.2,0,0.4,0,0.5,0c0,0.1,0,0.2,0,0.2
                            c-0.2,0-0.3,0-0.5,0C199,21.5,199,21.5,199,21.4z M213.1,22.4c0.1,0,0.1,0.1,0.2,0.1c-0.1,0.2-0.2,0.5-0.3,0.7
                            c-0.1,0-0.1,0-0.2-0.1C212.9,22.9,212.8,22.5,213.1,22.4z M212.4,21.5c0.1,0,0.2,0.1,0.2,0.1c0,0,0,0.1-0.1,0.1
                            c-0.1,0-0.2-0.1-0.3-0.1C212.3,21.6,212.3,21.5,212.4,21.5z M212.3,22.1c-0.7,0.4-1,0.2-1.1-0.5C211.7,21.8,212,21.9,212.3,22.1z
                             M210.7,21.3c0.1,0,0.1,0.1,0.2,0.1c0,0-0.1,0.1-0.1,0.1c0,0-0.1,0-0.1-0.1C210.6,21.3,210.7,21.2,210.7,21.3z M209.9,21L209.9,21
                            L209.9,21L209.9,21z M207.9,19.7L207.9,19.7L207.9,19.7L207.9,19.7z M208.7,21.5c0.3,0.3,0.7,0.6,1.1,1c0.5,0,0.5-0.4,0.6-0.7
                            c0.5,0.1,0.3,0.5,0.4,0.9c0.6-0.2,1,0.3,1.4,0.5c0,0.6,0.4,0.5,0.8,0.5c-0.7,0.4-1.4,0.7-2.2,0.9c-1,0.2-1.9,0.2-2.9,0.4
                            c-0.3,0.1-0.6,0.1-0.8-0.2c-0.2-0.3-0.5-0.4-0.8-0.4c-0.2,0-0.4-0.2-0.6-0.4c-0.3-0.2-0.5-0.4-0.8-0.5c-0.8-0.2-1.5-0.5-2.3-0.3
                            c-0.3,0.1-0.6,0-0.9-0.1c-0.8-0.1-1.5-0.4-2.3,0.1c0-0.3-0.1-0.5-0.1-0.8c0.5-0.2,1-0.3,1.5-0.1c0.1,0,0.2,0.1,0.2,0
                            c0.6-0.3,1.3-0.1,1.9,0c0.2,0,0.5,0.1,0.7,0.1c0.2,0,0.4,0,0.7,0c0.4-0.1,0.8-0.2,1.3-0.2c0.1,0,0.3,0.1,0.4,0.2
                            c0.4-0.6,0.7-0.6,1.1,0c0,0.1,0.1,0.2,0.1,0.2c0.1,0,0.2,0.1,0.3,0c0,0,0.1-0.2,0-0.3c0-0.1-0.1-0.2-0.2-0.3
                            C207.8,21.6,208.2,21.5,208.7,21.5z M214.4,15c-0.3,0.3-0.5,0-0.8-0.1C214,14.8,214.2,15,214.4,15z M214.8,8.9
                            c0-0.1-0.1-0.2-0.1-0.2c0.2,0,0.4-0.1,0.6-0.1c0,0.1,0,0.1,0.1,0.2C215.2,8.8,215,8.9,214.8,8.9z"/>
                    </svg>
                  </div>
              </div>
              <% } %>
              <div class="content_box press">
                <p class="content_title">Press</p>

                <div class="news">
                  <ul class="news__list">
                    <% page.news.forEach(function(news){ %>
                      <li class="news__list-item" style="background: <% if (news.image) {%>url(<%= news.image %>)<% } else { %>url(/img/news-item.jpg)<% } %> no-repeat center; background-size: cover;">
                        <a target="_blank" href="<%= news.link %>">
                          <h4 class="news__title"><span><%= news.title %><em class="news__byline">by <%= news.credit %></em></span></h4>
                        </a>
                      </li>
                    <% }); %>
                  </ul>
                </div>
              </div>



              </div>
            </div>
            <div class="play_button">
              <svg version="1.1" id="play_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 35.8 37.3" enable-background="new 0 0 35.8 37.3" xml:space="preserve">
                <path id="outer_circle" d="M6.9,4.7C7.2,4.2,7.6,3.8,8,3.3C8.2,3.1,8.6,3,8.8,2.8c0.8-0.7,1.6-1.4,2.4-2c0.3-0.2,0.6-0.5,1-0.6
                  c0.6-0.3,0.9-0.1,0.9,0.6c0,0.1,0,0.1,0,0.3c0.6-0.2,1.2-0.4,1.7-0.6c1.6-0.6,3.2-0.4,4.7,0.1c0.8,0.2,1.7,0.5,2.5,0.7
                  c0.1,0,0.2-0.1,0.4-0.2C22.7,1,23,0.9,23,0.9c0.7,0.8,1.8,0.7,2.7,1.1c0.9,0.5,1.7,1.1,2.6,1.7c0.2,0.2,0.4,0.4,0.6,0.6
                  c0.5,0.5,0.5,0.6-0.2,0.9c0.2,0.1,0.3,0.3,0.5,0.3c0.6,0.1,1,0.6,1.3,1.1c0.6,0.8,1.2,1.5,1.8,2.3c0.1,0.1,0.1,0.1,0.2,0.2
                  c0.2,0.8,0.7,1,1.4,1c0.6,0,0.8,0.5,1,1c0.3,1.3,0.6,2.7,0.8,4.1c0.1,0.8,0,1.6,0,2.4c0,1.2,0.1,2.4,0.2,3.6c0,0.3,0,0.6-0.4,0.6
                  c-0.2,0-0.4,0.3-0.4,0.5c-0.1,0.6-0.2,1.2-0.3,1.8c-0.1,0.3-0.1,0.7-0.6,0.7c-0.2,0-0.4,0.3-0.5,0.4c-1,1.6-1.8,3.3-2.9,4.8
                  c-1,1.4-2.1,2.6-3.6,3.4C26,34,25,34.7,23.9,35.3c-0.2,0.1-0.4,0.2-0.5,0.2c-0.8-0.3-1.4,0.3-2,0.5c-0.5,0.2-1,0.3-1.6,0.2
                  c-0.7-0.2-1.4-0.2-2.1,0.1c-0.3,0.1-0.7,0.2-0.9,0.3c-0.1,0.3-0.1,0.6-0.2,0.7c-0.3,0.2-0.5,0-0.8-0.2c-0.6-0.5-1.3-0.9-2-1.3
                  c-1.3-0.6-2.6-1.4-3.9-2.1c-1.3-0.8-2.6-1.5-3.9-2.3c-0.7-0.5-1.3-1.1-2-1.5c-0.9-0.6-1.3-1.5-1.6-2.4c-0.2-0.6-0.7-1.2-1-1.8
                  c-0.1-0.3-0.3-0.5-0.4-0.8c-0.2-1.1-0.4-2.2-0.5-3.3c-0.1-1.1-0.2-2.2-0.3-3.4c-0.1-1.6-0.1-3.3,0.5-4.8c0.4-1,0.7-2.1,0.7-3.2
                  c0-0.4,0.2-0.8,0.4-1.1c0.8-1.2,1.7-2.3,2.5-3.5C4.7,4.8,5.3,4.5,6,4.1C6.2,4.1,6.5,4,6.6,4.1C6.8,4.2,6.8,4.4,6.9,4.7z M11.3,4
                  c-0.2,0-0.2,0.1-0.3,0.1c-0.7,0.4-1.5,0.7-2.2,1.1C8.3,5.5,7.8,5.8,7.5,6.2c-0.8,1-1.6,2.1-2.3,3.2c-0.7,1-1.2,2-1.6,3.1
                  c-0.2,0.6-0.4,1.1-0.6,1.6c-0.2,0.5-0.4,1-0.4,1.5c0.1,0.9,0.3,1.8,0.4,2.8c0.1,0.4,0.1,0.8,0.1,1.2c0,0.3-0.1,0.5-0.1,0.7
                  c0.2,1.2,0.5,2.4,0.8,3.7c0.2,0.7,0,1.4,0.5,2c0.1,0.1,0.1,0.3,0.2,0.5c0.2,0.4,0.4,0.7,0.5,1.1c0.1,0,0.1-0.1,0.2-0.1
                  c-0.1-0.4-0.3-0.9-0.4-1.3c-0.1-0.4,0-0.7,0.4-0.7c0.4-0.1,0.4,0.2,0.5,0.5c0.3,1.1,0.6,2.2,0.9,3.3c0.1,0.4,0.4,0.8,0.7,1.1
                  c0.3,0.3,0.8,0.5,1.2,0.8c0.9,0.6,1.8,1.2,2.7,1.8c0.3,0.2,0.8,0.5,1.2-0.2c0.8,0.6,1.5,1.1,2.2,1.7c0.6,0.5,1.1,0.6,1.7,0.1
                  c0.9,0.4,1.8,0.6,2.8,0.3c0.5-0.2,1-0.3,1.5-0.6c1-0.5,1.9-0.9,2.8-1.5c1.4-0.9,2.7-2,4-3c0.6-0.5,1-1.3,1.7-1.7
                  c0.6-0.4,0.9-1,1.4-1.6c0.1-0.1,0.3-0.3,0.4-0.3c0.4,0,0.4-0.3,0.5-0.6c0-0.1,0-0.3,0.1-0.4c0.9-2.3,1.7-4.7,2.6-7
                  c0-0.1,0-0.3,0-0.5c-0.1-0.3-0.3-0.5-0.3-0.8c-0.2-1.7-0.5-3.4-1.2-5c-0.4-0.9-0.8-1.8-1.3-2.6c-0.6-0.9-1.5-1.6-2.2-2.4
                  c-0.2-0.2-0.5-0.5-0.7-0.7C28.4,6,28.1,5.8,28,5.9c-0.3,0.1-0.5-0.1-0.6-0.3c-0.4-0.9-1.3-1.4-2.2-1.8c-1-0.5-2-0.8-3-1.3
                  c-1.6-0.8-3.2-1.2-4.9-1.6c-0.2,0-0.5,0-0.8,0.1c0.4,0.2,0.7,0.3,1,0.4c0,0.1,0,0.1,0,0.2c-0.2,0.1-0.3,0.3-0.5,0.3
                  c-1,0.3-2.1,0.5-3.1,0.8c-0.5,0.2-1.1,0.5-1.4,0.9C12,4.2,11.7,5,11.4,5.7C11.2,6,11,6.2,10.6,6c-0.4-0.2-0.2-0.5-0.1-0.7
                  C10.8,4.9,11,4.5,11.3,4z M34.6,13.6c0-1.2-0.4-2.2-0.9-2.4C33.9,12,34,12.9,34.6,13.6z M1.9,13.2c0,0,0.1,0,0.1,0
                  c0.3-0.7,0.6-1.4,0.9-2.1C2,11.6,2,12.4,1.9,13.2z"/>
                <path id="inner_triangle" d="M27.8,16.6c0.2,0.1,0.3,0.1,0.4,0.2c0.1,0,0.2,0,0.2,0.1c0.2,0.5,0.7,0.5,1,0.8c-0.2,0.4-0.3,0.4-0.8,0.2
                  c-0.4-0.2-0.9-0.4-1.4-0.5c-0.1,0.1-0.1,0.2-0.2,0.3c0,0,0,0.1,0.1,0.1c0.1,0.1,0.3,0.2,0.3,0.3c0,0.1,0,0.3-0.1,0.4
                  c0,0-0.3,0-0.3-0.1c-0.9-0.8-0.8-0.5-1.6,0c-0.7,0.4-1.4,1-2.1,1.4c-1,0.7-2.1,1.3-3.1,1.9c-0.8,0.5-1.6,1.1-2.4,1.6
                  c-1.2,0.8-2.4,1.5-3.6,2.3c-0.4,0.3-0.8,0.5-0.7,1.1c0.1,0.4,0,0.8,0,1.2c0,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.2,0.1-0.3,0.2
                  c0-0.1-0.1-0.1-0.1-0.2c-0.1-0.3-0.1-0.5-0.2-0.8c-0.1,0-0.4,0.1-0.5,0c-0.1-0.1-0.1-0.3-0.2-0.5c0,0,0-0.1,0-0.1
                  c-0.4-0.3-0.3-0.5,0-0.8c0.1-0.1,0-0.3,0.1-0.5c-0.3,0.1-0.6,0.1-0.4-0.4c0,0-0.2-0.2-0.3-0.1c-0.3,0.1-0.5,0.2-0.8,0.3
                  c-0.1,0-0.3,0-0.5,0c0.2-0.4,0.3-0.7,0.7-0.7c0.4-0.1,0.7-0.2,1.1-0.4c0.3-0.1,0.5-0.3,0.5-0.7c0.2-1.4,0.2-2.9,0.1-4.4
                  c-0.1-1.2-0.2-2.4-0.2-3.6c0-0.8-0.1-1.7-0.1-2.5c0-0.1,0-0.2,0-0.3c0-0.1-0.1-0.3-0.2-0.3c-0.5-0.2-1.1-0.4-1.6-0.6
                  c0,0-0.1,0-0.1-0.1c-0.1-0.1-0.2-0.2-0.2-0.3c0.1-0.1,0.2-0.2,0.3-0.2c0.3,0,0.6,0,0.9,0c-0.2-0.1-0.4-0.1-0.6-0.2
                  c-0.1-0.1-0.2-0.2-0.3-0.3c0.1-0.1,0.2-0.2,0.3-0.2c0.4,0.1,0.8,0.2,1.2,0.3c0.1,0,0.3,0.1,0.5,0.2c0.1-0.9-0.5-1.8,0-2.7
                  C13,8.8,12.9,9.2,13,9.4c0.1-0.3,0.2-0.5,0.3-0.9c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0.2,0.1,0.5,0.2,0.8c0,0.4,0,0.7,0,1.1
                  c0,0.3,0.1,0.5,0.2,0.7c0,0.1,0.2,0.1,0.3,0.2c0,0,0.1,0,0.1,0.1c0.5,0.7,1.4,0.7,2.1,1c1.7,0.6,3.4,1.2,5.1,1.8
                  c1.4,0.5,2.8,0.9,4.2,1.4c0.8,0.3,1.6,0.2,2.3-0.5c0.2-0.2,0.4-0.3,0.6-0.5c0.2-0.2,0.4-0.2,0.5,0c0.2,0.2,0.1,0.4-0.1,0.5
                  c-0.4,0.3-0.8,0.7-1.2,1C27.9,16.5,27.9,16.5,27.8,16.6z M19.4,14.8C19.5,14.8,19.5,14.7,19.4,14.8c-1.7-0.7-3.4-1.4-5.1-2
                  c0,0.1,0,0.1-0.1,0.2C15.9,13.8,17.7,14.4,19.4,14.8z M15.7,24.2C15.7,24.2,15.7,24.2,15.7,24.2c-0.6,0.2-1.2,0.4-1.8,0.7
                  c-0.1,0-0.2,0.2-0.2,0.3c0,0,0.1,0,0.1,0.1C14.4,24.9,15,24.6,15.7,24.2z M13.9,20.8c0,0.9,0,1.7,0,2.6c0,0,0.1,0,0.1,0
                  C14.1,22.5,14,21.6,13.9,20.8z"/>
              </svg>
              <%= page.name %> Tunnel Walk Video
            </div>

            <div class="hero__overlay"></div>
            <div class="hero__media">
            <% if (page.slug == 'hockey') { %>
                <video id="video-background" class="video-wrap" poster="/img/bg--video_hockey.jpg" autoplay muted="muted" loop>
                  <source src="https://s3.amazonaws.com/maverickmayhem/loop_hockey.mp4" type="video/mp4">
                </video>
            <% } else if (page.slug == 'basketball') { %>
                <video id="video-background" class="video-wrap" poster="/img/bg--video_bball-mens.jpg" autoplay muted="muted" loop>
                  <source src="https://s3.amazonaws.com/maverickmayhem/loop_bball_mens.mp4" type="video/mp4">
                </video>
              <% } else { %>
                Not hockey or basketball
              <% } %>
            </div>
        </div>
    </div>
    
    <div class="photo-gallery" id="photo-gallery"></div>

    <div class="play_button mobile">
        <svg version="1.1" id="play_button" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 35.8 37.3" enable-background="new 0 0 35.8 37.3" xml:space="preserve">
            <path id="outer_circle" d="M6.9,4.7C7.2,4.2,7.6,3.8,8,3.3C8.2,3.1,8.6,3,8.8,2.8c0.8-0.7,1.6-1.4,2.4-2c0.3-0.2,0.6-0.5,1-0.6
              c0.6-0.3,0.9-0.1,0.9,0.6c0,0.1,0,0.1,0,0.3c0.6-0.2,1.2-0.4,1.7-0.6c1.6-0.6,3.2-0.4,4.7,0.1c0.8,0.2,1.7,0.5,2.5,0.7
              c0.1,0,0.2-0.1,0.4-0.2C22.7,1,23,0.9,23,0.9c0.7,0.8,1.8,0.7,2.7,1.1c0.9,0.5,1.7,1.1,2.6,1.7c0.2,0.2,0.4,0.4,0.6,0.6
              c0.5,0.5,0.5,0.6-0.2,0.9c0.2,0.1,0.3,0.3,0.5,0.3c0.6,0.1,1,0.6,1.3,1.1c0.6,0.8,1.2,1.5,1.8,2.3c0.1,0.1,0.1,0.1,0.2,0.2
              c0.2,0.8,0.7,1,1.4,1c0.6,0,0.8,0.5,1,1c0.3,1.3,0.6,2.7,0.8,4.1c0.1,0.8,0,1.6,0,2.4c0,1.2,0.1,2.4,0.2,3.6c0,0.3,0,0.6-0.4,0.6
              c-0.2,0-0.4,0.3-0.4,0.5c-0.1,0.6-0.2,1.2-0.3,1.8c-0.1,0.3-0.1,0.7-0.6,0.7c-0.2,0-0.4,0.3-0.5,0.4c-1,1.6-1.8,3.3-2.9,4.8
              c-1,1.4-2.1,2.6-3.6,3.4C26,34,25,34.7,23.9,35.3c-0.2,0.1-0.4,0.2-0.5,0.2c-0.8-0.3-1.4,0.3-2,0.5c-0.5,0.2-1,0.3-1.6,0.2
              c-0.7-0.2-1.4-0.2-2.1,0.1c-0.3,0.1-0.7,0.2-0.9,0.3c-0.1,0.3-0.1,0.6-0.2,0.7c-0.3,0.2-0.5,0-0.8-0.2c-0.6-0.5-1.3-0.9-2-1.3
              c-1.3-0.6-2.6-1.4-3.9-2.1c-1.3-0.8-2.6-1.5-3.9-2.3c-0.7-0.5-1.3-1.1-2-1.5c-0.9-0.6-1.3-1.5-1.6-2.4c-0.2-0.6-0.7-1.2-1-1.8
              c-0.1-0.3-0.3-0.5-0.4-0.8c-0.2-1.1-0.4-2.2-0.5-3.3c-0.1-1.1-0.2-2.2-0.3-3.4c-0.1-1.6-0.1-3.3,0.5-4.8c0.4-1,0.7-2.1,0.7-3.2
              c0-0.4,0.2-0.8,0.4-1.1c0.8-1.2,1.7-2.3,2.5-3.5C4.7,4.8,5.3,4.5,6,4.1C6.2,4.1,6.5,4,6.6,4.1C6.8,4.2,6.8,4.4,6.9,4.7z M11.3,4
              c-0.2,0-0.2,0.1-0.3,0.1c-0.7,0.4-1.5,0.7-2.2,1.1C8.3,5.5,7.8,5.8,7.5,6.2c-0.8,1-1.6,2.1-2.3,3.2c-0.7,1-1.2,2-1.6,3.1
              c-0.2,0.6-0.4,1.1-0.6,1.6c-0.2,0.5-0.4,1-0.4,1.5c0.1,0.9,0.3,1.8,0.4,2.8c0.1,0.4,0.1,0.8,0.1,1.2c0,0.3-0.1,0.5-0.1,0.7
              c0.2,1.2,0.5,2.4,0.8,3.7c0.2,0.7,0,1.4,0.5,2c0.1,0.1,0.1,0.3,0.2,0.5c0.2,0.4,0.4,0.7,0.5,1.1c0.1,0,0.1-0.1,0.2-0.1
              c-0.1-0.4-0.3-0.9-0.4-1.3c-0.1-0.4,0-0.7,0.4-0.7c0.4-0.1,0.4,0.2,0.5,0.5c0.3,1.1,0.6,2.2,0.9,3.3c0.1,0.4,0.4,0.8,0.7,1.1
              c0.3,0.3,0.8,0.5,1.2,0.8c0.9,0.6,1.8,1.2,2.7,1.8c0.3,0.2,0.8,0.5,1.2-0.2c0.8,0.6,1.5,1.1,2.2,1.7c0.6,0.5,1.1,0.6,1.7,0.1
              c0.9,0.4,1.8,0.6,2.8,0.3c0.5-0.2,1-0.3,1.5-0.6c1-0.5,1.9-0.9,2.8-1.5c1.4-0.9,2.7-2,4-3c0.6-0.5,1-1.3,1.7-1.7
              c0.6-0.4,0.9-1,1.4-1.6c0.1-0.1,0.3-0.3,0.4-0.3c0.4,0,0.4-0.3,0.5-0.6c0-0.1,0-0.3,0.1-0.4c0.9-2.3,1.7-4.7,2.6-7
              c0-0.1,0-0.3,0-0.5c-0.1-0.3-0.3-0.5-0.3-0.8c-0.2-1.7-0.5-3.4-1.2-5c-0.4-0.9-0.8-1.8-1.3-2.6c-0.6-0.9-1.5-1.6-2.2-2.4
              c-0.2-0.2-0.5-0.5-0.7-0.7C28.4,6,28.1,5.8,28,5.9c-0.3,0.1-0.5-0.1-0.6-0.3c-0.4-0.9-1.3-1.4-2.2-1.8c-1-0.5-2-0.8-3-1.3
              c-1.6-0.8-3.2-1.2-4.9-1.6c-0.2,0-0.5,0-0.8,0.1c0.4,0.2,0.7,0.3,1,0.4c0,0.1,0,0.1,0,0.2c-0.2,0.1-0.3,0.3-0.5,0.3
              c-1,0.3-2.1,0.5-3.1,0.8c-0.5,0.2-1.1,0.5-1.4,0.9C12,4.2,11.7,5,11.4,5.7C11.2,6,11,6.2,10.6,6c-0.4-0.2-0.2-0.5-0.1-0.7
              C10.8,4.9,11,4.5,11.3,4z M34.6,13.6c0-1.2-0.4-2.2-0.9-2.4C33.9,12,34,12.9,34.6,13.6z M1.9,13.2c0,0,0.1,0,0.1,0
              c0.3-0.7,0.6-1.4,0.9-2.1C2,11.6,2,12.4,1.9,13.2z"/>
            <path id="inner_triangle" d="M27.8,16.6c0.2,0.1,0.3,0.1,0.4,0.2c0.1,0,0.2,0,0.2,0.1c0.2,0.5,0.7,0.5,1,0.8c-0.2,0.4-0.3,0.4-0.8,0.2
              c-0.4-0.2-0.9-0.4-1.4-0.5c-0.1,0.1-0.1,0.2-0.2,0.3c0,0,0,0.1,0.1,0.1c0.1,0.1,0.3,0.2,0.3,0.3c0,0.1,0,0.3-0.1,0.4
              c0,0-0.3,0-0.3-0.1c-0.9-0.8-0.8-0.5-1.6,0c-0.7,0.4-1.4,1-2.1,1.4c-1,0.7-2.1,1.3-3.1,1.9c-0.8,0.5-1.6,1.1-2.4,1.6
              c-1.2,0.8-2.4,1.5-3.6,2.3c-0.4,0.3-0.8,0.5-0.7,1.1c0.1,0.4,0,0.8,0,1.2c0,0.1,0,0.2-0.1,0.3c-0.1,0.1-0.2,0.1-0.3,0.2
              c0-0.1-0.1-0.1-0.1-0.2c-0.1-0.3-0.1-0.5-0.2-0.8c-0.1,0-0.4,0.1-0.5,0c-0.1-0.1-0.1-0.3-0.2-0.5c0,0,0-0.1,0-0.1
              c-0.4-0.3-0.3-0.5,0-0.8c0.1-0.1,0-0.3,0.1-0.5c-0.3,0.1-0.6,0.1-0.4-0.4c0,0-0.2-0.2-0.3-0.1c-0.3,0.1-0.5,0.2-0.8,0.3
              c-0.1,0-0.3,0-0.5,0c0.2-0.4,0.3-0.7,0.7-0.7c0.4-0.1,0.7-0.2,1.1-0.4c0.3-0.1,0.5-0.3,0.5-0.7c0.2-1.4,0.2-2.9,0.1-4.4
              c-0.1-1.2-0.2-2.4-0.2-3.6c0-0.8-0.1-1.7-0.1-2.5c0-0.1,0-0.2,0-0.3c0-0.1-0.1-0.3-0.2-0.3c-0.5-0.2-1.1-0.4-1.6-0.6
              c0,0-0.1,0-0.1-0.1c-0.1-0.1-0.2-0.2-0.2-0.3c0.1-0.1,0.2-0.2,0.3-0.2c0.3,0,0.6,0,0.9,0c-0.2-0.1-0.4-0.1-0.6-0.2
              c-0.1-0.1-0.2-0.2-0.3-0.3c0.1-0.1,0.2-0.2,0.3-0.2c0.4,0.1,0.8,0.2,1.2,0.3c0.1,0,0.3,0.1,0.5,0.2c0.1-0.9-0.5-1.8,0-2.7
              C13,8.8,12.9,9.2,13,9.4c0.1-0.3,0.2-0.5,0.3-0.9c0.1,0.1,0.2,0.2,0.3,0.3c0.1,0.2,0.1,0.5,0.2,0.8c0,0.4,0,0.7,0,1.1
              c0,0.3,0.1,0.5,0.2,0.7c0,0.1,0.2,0.1,0.3,0.2c0,0,0.1,0,0.1,0.1c0.5,0.7,1.4,0.7,2.1,1c1.7,0.6,3.4,1.2,5.1,1.8
              c1.4,0.5,2.8,0.9,4.2,1.4c0.8,0.3,1.6,0.2,2.3-0.5c0.2-0.2,0.4-0.3,0.6-0.5c0.2-0.2,0.4-0.2,0.5,0c0.2,0.2,0.1,0.4-0.1,0.5
              c-0.4,0.3-0.8,0.7-1.2,1C27.9,16.5,27.9,16.5,27.8,16.6z M19.4,14.8C19.5,14.8,19.5,14.7,19.4,14.8c-1.7-0.7-3.4-1.4-5.1-2
              c0,0.1,0,0.1-0.1,0.2C15.9,13.8,17.7,14.4,19.4,14.8z M15.7,24.2C15.7,24.2,15.7,24.2,15.7,24.2c-0.6,0.2-1.2,0.4-1.8,0.7
              c-0.1,0-0.2,0.2-0.2,0.3c0,0,0.1,0,0.1,0.1C14.4,24.9,15,24.6,15.7,24.2z M13.9,20.8c0,0.9,0,1.7,0,2.6c0,0,0.1,0,0.1,0
              C14.1,22.5,14,21.6,13.9,20.8z"/>
        </svg>
        <%= page.name %> Tunnel Walk Video
    </div>
    <!-- 

    END #main -->
    <% if (process.env.NODE_ENV == 'production') { %>
      <script src="/js/page.min.js" async></script>
    <% } else { %>
      <script src="/js/page.js" async></script>
    <% } %>
<%- include ../layouts/_site_footer.ejs %>

